<script setup>
import { RouterLink } from 'vue-router';
import logo from '@/assets/images/hua.png';
</script>

<template>
    <footer class="footer mt-auto fixed-bottom">
        <div class="container">
            
            <div class="container d-flex flex-row-reverse justify-content-around pt-4">
                <img v-bind:src="logo"/>
                <RouterLink :to=" { name: 'contact' } " class="text-muted">Επικοινωνία</RouterLink>
                <RouterLink :to=" { name: 'help' } " class="text-muted">Υποστήριξη</RouterLink>
            </div>
            <hr />
            <p>&copy; 2024 myΕ.Λ.Γ.Α.  - All rights reserved.</p>
        </div>
    </footer>
</template>