<script setup>
import logo from '@/assets/images/myElgaBanner.png';
</script>

<template>
    <header>
        <nav class="navbar nav-justified fixed-top navbar-expand-lg shadow p-3 mb-5 navbar-light">
            <a class="navbar-brand fixed-top">
                <img :src="logo"/>
            </a>
        </nav>
    </header>
</template>