<script setup>
import { onMounted, ref, computed } from 'vue';
import { useRoute } from 'vue-router';
import { remoteDataAccess } from '@/composables/remotaDataAccess';
import GoBackButton from './GoBackButton.vue';

const route = useRoute();
const breederId = ref(null);

const url = computed(()=>{
    return 'http://localhost:8080/services/breeder/' + breederId.value;
});
const auth = ref(true);
const { data, loading, performRequest } = remoteDataAccess(url, auth);

onMounted(() => {
    breederId.value = route.params.breederId;
    performRequest();
});
</script>

<template>
    <div class="card-body">
        <div class="d-flex flex-row align-items-center mb-4">
            <GoBackButton />
            <h1 class="display-6"><b>Κτηνοτροφική Αίτηση</b></h1>
        </div>
        <div v-if="loading" class="row">
            <div class="spinner-border mx-auto" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>

        <template v-if="data">
            <div class="row justify-content-center">
                <div class="lead col-4 text-end">
                <p><b>Αναγνωριστικό:</b></p>
                </div>
                <div class="col-6">
                    <p class="text-muted">{{ data.id }}</p>
                </div>
            </div>
            <hr class="mt-0"/>
            <div class="row justify-content-center">
                <div class="lead col-4 text-end">
                    <p>Ημερομηνία δημιουργίας:</p>
                </div>
                <div class="col-6">
                    <p class="text-muted">{{ data.creationDate }}</p>
                </div>
            </div>
            <hr class="mt-0"/>
            <div class="row justify-content-center">
                <div class="lead col-4 text-end">
                    <p class="lead">Κατάσταση:</p>
                </div>
                <div class="col-6">
                    <p v-if="data.state == 'CREATED'">Υπο-επεξεργασία</p>
                    <p v-if="data.state == 'ACCEPTED'">Εγκεκριμμένη</p>
                    <p v-if="data.state == 'REJECTED'">Απορριμένη</p>
                </div>
            </div>
            <hr class="mt-0"/>
            <div class="row justify-content-center">
                <div class="lead col-4 text-end">
                    <p>Αριθμός ζημιωθέντων ζώων αυτοτελούς εκτροφής:</p>
                </div>
                <div class="col-6">
                    <p class="text-muted">{{ data.numberOfKilledAnimals }}</p>
                </div>
            </div>
            <hr class="mt-0"/>
            <div class="row justify-content-center">
                <div class="lead col-4 text-end">
                    <p>Συνολικός αριθμός ζώων αυτοτελούς εκτροφής:</p>
                </div>
                <div class="col-6">
                    <p class="text-muted">{{ data.totalAnimals }}</p>
                </div>
            </div>           
            <hr class="mt-0"/>
            <div class="row justify-content-center">
                <div class="lead col-4 text-end">
                    <p>Τιμή ανά μονάδα προϊόντος:</p>
                </div>
                <div class="col-6">
                    <p class="text-muted">{{ data.pricePerUnit }}</p>
                </div>
            </div>
            <hr class="mt-0"/>
            <!-- Below fields checked if null because there are fields that get updated by elga manager -->
            <div class="row justify-content-center">
                <div class="lead col-4 text-end">
                    <p>Συντελεστής αποζημίωσης:</p>
                </div>
                <div class="col-6">
                    <p class="text-muted" v-if="data.compensationFactor != 0">{{ data.compensationFactor }}</p>
                    <p v-else>Δεν έχει οριστεί.</p>
                </div>
            </div>
            <hr class="mt-0"/>
            <div class="row justify-content-center">
                <div class="lead col-4 text-end">
                    <p>Ποσοστό κάλυψης ζημιών:</p>
                </div>
                <div class="col-6">
                    <p class="text-muted" v-if="data.coveragePercentage != 0">{{ data.coveragePercentage }}</p>
                    <p v-else>Δεν έχει οριστεί.</p>
                </div>
            </div>
            <hr class="mt-0"/>
            <div class="row justify-content-center">
                <div class="lead col-4 text-end">
                    <p>Υπολειμματική αξία:</p>
                </div>
                <div class="col-6">
                    <p class="text-muted" v-if="data.residualValue != null">{{ data.residualValue }}</p>
                    <p v-else>Δεν έχει οριστεί.</p>
                </div>
            </div>
            <hr class="mt-0"/>
            <div class="row justify-content-center">
                <div class="lead col-4 text-end">
                    <p>Ποσό αποζημίωσης:</p>
                </div>
                <div class="col-6">
                    <p class="text-muted" v-if="data.damages >= 0">{{ data.damages }}</p>
                    <p v-else>Δεν έχει οριστεί.</p>
                </div>
            </div>
        </template>
    </div>
</template>