<script setup>
import { useRouter } from 'vue-router';
import goBackLogo from '@/assets/images/backTo-100.png';

const router = useRouter();

const goBackAction = () => {
    router.go(-1);
}
</script>

<template>
    <button @click="goBackAction()" class="btn btn-back-to text-start">
        <img :src="goBackLogo" class="go-back-image"/>
    </button>
</template>