<template>
    <div class="container-fluid pt-3 bg-body-tertiary">
        <div class="row">
            <a class="col-auto">
                <RouterLink :to=" { name: 'home' } "> Αρχική </RouterLink>
            </a>
            <p class="col-auto">></p>
            <a class="col-auto">
                <RouterLink :to=" { name: 'manager-catalog' } "> Διαχείριση αιτήσεων </RouterLink>
            </a>
            <p class="col-auto">></p>
            <p class="col-auto">Ενημέρωση Αίτησης</p>
        </div>
    </div>
</template>