<script setup>
import { onMounted, ref, computed } from 'vue';
import { remoteDataAccess } from '@/composables/remotaDataAccess';
import { useRoute } from 'vue-router';
import GoBackButton from './GoBackButton.vue';

const route = useRoute();
const idSubmission = ref(null);

const url = computed(()=>{
    return 'http://localhost:8080/services/farmer/' + idSubmission.value;
});
const auth = ref(true);
const { data, loading, performRequest } = remoteDataAccess(url, auth);
 
onMounted(() => {
    idSubmission.value = route.params.submissionId;
    performRequest();
})
</script>

<template>
    <div class="card-body">
        <div class="d-flex flex-row align-items-center mb-4">
            <GoBackButton />
            <h1 class="display-6"><b>Αγροτική Αίτηση</b></h1>
        </div>
        
        <div class="row">
            <div v-if="loading" class="mx-auto spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>

        <template v-if="data">
            <div class="row justify-content-center">
                <div class="lead col-4 text-end">
                    <p><b>Αναγνωριστικό</b></p>
                </div>
                <div class="col-6">
                    <p class="text-muted">{{ data.id }}</p>
                </div>
            </div>
            <hr class="mt-0"/>
            <div class="row justify-content-center">
                <div class="lead col-4 text-end">
                    <p>Ημερομηνία δημιουργίας</p>
                </div>
                <div class="col-6">
                    <p class="text-muted">{{ data.creationDate }}</p>
                </div>
            </div>
            <hr class="mt-0"/>
            <div class="row justify-content-center">
                <div class="lead col-4 text-end">
                    <p>Κατάσταση</p>
                </div>
                <div class="col-6">
                    <p v-if="data.state == 'CREATED'">Υπο-επεξεργασία</p>
                    <p v-if="data.state == 'ACCEPTED'">Εγκεκριμμένη</p>
                    <p v-if="data.state == 'REJECTED'">Απορριμένη</p>
                </div>
            </div>
            <hr class="mt-0"/>
            <div class="row justify-content-center">
                <div class="lead col-4 text-end">
                    <p>Μέση παραγωγή σε κιλά</p>
                </div>
                <div class="col-6">
                    <p class="text-muted">{{ data.averageProduction }}</p>
                </div>
            </div>
            <hr class="mt-0"/>
            <div class="row justify-content-center">
                <div class="lead col-4 text-end">
                    <p>Έκταση αγροτεμαχίου σε στρέμματα</p>
                </div>
                <div class="col-6">
                    <p class="text-muted">{{ data.fieldArea }}</p>
                </div>
            </div>
            <hr class="mt-0"/>
            <!-- Below fields checked if null because there are fields that get updated by elga manager -->
            <div class="row justify-content-center">
                <div class="lead col-4 text-end">
                    <p>Τιμή ανά μονάδα προϊόντος</p>
                </div>
                <div class="col-6">
                    <p class="text-muted" v-if="data.pricePerProductUnit != null">{{ data.pricePerProductUnit }}</p>
                    <p v-else>Δεν έχει οριστεί.</p>
                </div>
            </div>
            <hr class="mt-0"/>
            <div class="row justify-content-center">
                <div class="lead col-4 text-end">
                    <p>Ποσοστό ζημιάς</p>
                </div>
                <div class="col-6">
                    <p class="text-muted" v-if="data.damagePercentage != 0">{{ data.damagePercentage }}</p>
                    <p v-else>Δεν έχει οριστεί.</p>
                </div>
            </div>
            <hr class="mt-0"/>
            <div class="row justify-content-center">
                <div class="lead col-4 text-end">
                    <p>Ποσό αποζημίωσης</p>
                </div>
                <div class="col-6">
                    <p class="text-muted" v-if="data.damages >= 0">{{ data.damages }}</p>
                    <p v-else>Δεν έχει οριστεί.</p>
                </div>
            </div>
        </template>
    </div>
</template>