<template>
    <thead>
        <tr>
            <th>Λεπτομέρειες</th>
            <th>Αναγνωριστικό</th>
            <th>Ημερομηνία δημιουργίας</th>
            <th>Κατάσταση</th>
            <th>Επεξεργασία</th>
            <th>Διαγραφή</th>
            <th></th>
        </tr>
    </thead>
</template>