<script setup>
import { ref, onMounted, computed } from 'vue';
import { useRoute, useRouter } from 'vue-router';
import { remoteDataAccess } from '@/composables/remotaDataAccess';
import { fileDownloader } from '@/composables/fileDownloader.js';
import TableHeader from '@/components/TableHeader.vue';
import deleteBin from '@/assets/images/delete-bin-30.png';
import logo from '@/assets/images/download-24.png';
import viewLogo from '@/assets/view-20.png';
import tickLogo from '@/assets/tick-30.png'; 
import xLogo from '@/assets/x-30.png'; 
import dashLogo from '@/assets/dash-30.png'; 
import pencilLogo from '@/assets/images/pencil-30.png'
import { BDropdown, BDropdownHeader, BDropdownItemButton, BDropdownDivider } from 'bootstrap-vue-next';
import { BModal } from 'bootstrap-vue-next';


const props = defineProps(['userRole']);
const route = useRoute();
const router = useRouter();

// For SortBy List
const sortByOption = ref('Newer');
const sortByOptionGreek = ref('Νεότερες');
const onSortOption = (value) => {
    sortByOption.value = value;
}
const onSortBy = computed(() => {
    if (sortByOption.value == 'Newer') {
        const newData = data.value.sort((a, b) => { 
            return new Date(b.creationDate) - new Date(a.creationDate);
        });
        return newData;
    }else if (sortByOption.value == 'NewerReverse') {
        const newData = data.value.sort((a, b) => { 
            return new Date(a.creationDate) - new Date(b.creationDate);
        });
        return newData;
    }else if (sortByOption.value == 'AcceptedFirst') {
        const newData = data.value.sort((a, b) => {
            if ((a.state == 'ACCEPTED' && b.state != 'ACCEPTED') || (a.state == 'REJECTED' && b.state == 'CREATED')) {
                return -1;
            }else if (a.state == 'ACCEPTED' && a.state == b.state) {
                return 0;
            }else {
                return 1;
            }
        })
        return newData;
    }else if (sortByOption.value == 'CreatedFirst') {
        const newData = data.value.sort((a, b) => {
            if ((a.state == 'CREATED' && b.state != 'CREATED') || (a.state == 'REJECTED' && b.state == 'ACCEPTED')) {
                return -1;
            }else if (a.state == 'CREATED' && a.state == b.state) {
                return 0;
            }else {
                return 1;
            }
        })
        return newData;
    }
});

//// For Modal
const applicationIdForDelete = ref(null);
const openModalState = ref(false);
const openModal = (value) => {
    applicationIdForDelete.value = value;
    openModalState.value = true;
}
const onModalDelete = async() => {
    console.log("came on delete");

    const url = ref('http://localhost:8080/services/breeder/' + applicationIdForDelete.value);
    const auth = ref(true);
    const deleteMethod = ref('DELETE');
    const { error, performRequest } = remoteDataAccess(url, auth, deleteMethod);
    await performRequest();
    if (error.value == true) {
        alert("Αδυναμία διαγραφής αίτησης με αναγνωριστικό: " + applicationIdForDelete.value);
    }else {
        router.go(router.currentRoute);
    }
}

const onDownload = (value) => {
    const id = ref(value);
    const type = ref('breeder');

    fileDownloader(type, id);
}

const farmerId = ref(null);
const auth = ref(true);
const url = ref(null);
const { loading, data, performRequest } = remoteDataAccess(url, auth);

onMounted(() => {
    if (props.userRole == 'ROLE_CITIZEN') {
        // Get farmer id from url
        farmerId.value = route.params.id;   

        url.value = 'http://localhost:8080/services/profile/' + farmerId.value + '/my-breeders';
    }else if(props.userRole == 'ROLE_MANAGER') {
        url.value = 'http://localhost:8080/services/manager/breeders';
    }
    performRequest();
});
</script>

<template>
    <b-modal v-model="openModalState" id="modal" title="Επιβεβαίωση διαγραφής" ok-title="Διαγραφή" cancel-title="Ακύρωση"
        no-close-on-backdrop="true" no-close-on-esc="true"  
        body-class="modal-body" footer-class="modal-footer" header-class="modal-header" title-class="display-1"
        centered ok-variant="danger" button-size="lg"
        @ok="onModalDelete()" 
    >
        <div class="d-grid col-2 mx-auto">
            <img :src="deleteBin" class="modal-image mx-auto" />
        </div>
        <p>Είστε σίγουροι πως θέλετε να διαγράψετε την αίτηση κτηνοτροφίας με αναγνωριστικό: <b>{{ applicationIdForDelete }}</b>;</p>
        <p class="lead"><i>Εάν προχωρήσετε στην διαγραφή, η αίτηση σας δεν θα μπορεί να ανακτηθεί.</i></p>        
    </b-modal>
   
    <div v-if="loading" class="row">
        <div class="spinner-border mx-auto" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    <div class="d-flex flex-row row-cols-2">
        <div class="col">
            <h2 class="display-6 text-start ml-0"><b>Κτηνοτροφία</b></h2>
        </div>

        <div class="col d-grid justify-content-end">
            <b-dropdown size="lg" dropend="" :text="'Ταξινόμηση: ' + sortByOptionGreek" variant="none" class="m-2" toggle-class="btn-dropdown-order" noCaret="">
                <b-dropdown-header>
                    Ημερομηνία δημιουργίας
                </b-dropdown-header>
                <b-dropdown-item-button @click="onSortOption('Newer'); sortByOptionGreek = 'Νεότερες'">Νεότερες</b-dropdown-item-button>
                <b-dropdown-item-button @click="onSortOption('NewerReverse'); sortByOptionGreek = 'Παλαιότερες'">Παλαιότερες</b-dropdown-item-button>
                <b-dropdown-divider></b-dropdown-divider>
                <b-dropdown-header>
                    Κατάσταση
                </b-dropdown-header>
                <b-dropdown-item-button @click="onSortOption('AcceptedFirst'); sortByOptionGreek = 'Εγκεκριμμένες Πρώτα'">Εγκεκριμμένες Πρώτα</b-dropdown-item-button>
                <b-dropdown-item-button @click="onSortOption('CreatedFirst'); sortByOptionGreek = 'Υπο-επεξεργασία Πρώτα'">Υπο-επεξεργασία Πρώτα</b-dropdown-item-button>
            </b-dropdown>
        </div>
    </div>

    <hr style="margin-top: 0.4em; margin-bottom: 1em;"/>

    <div class="table-responsive">
        <table v-if="data" class="table table-striped table-hover align-middle">
            <template v-if="data.length != 0">
                <TableHeader />
                <tbody>                                    
                    <tr v-for="breeder in onSortBy">
                        <td>
                            <template v-if="props.userRole == 'ROLE_MANAGER'">
                                <RouterLink :to="{ name: 'manager-breeder', params: { breederId: breeder.id} }" class="me-2">
                                    <img :src="viewLogo" />
                                </RouterLink>
                            </template>
                            <template v-else>
                                <RouterLink :to="{ name: 'breeder-info', params: { id: farmerId, breederId: breeder.id } }">
                                    <img :src="viewLogo"/>
                                </RouterLink>
                            </template>                        
                        </td>
                        <td>{{ breeder.id }}</td>
                        <td>{{ breeder.creationDate }}</td>
                        <td v-if="breeder.state == 'ACCEPTED'"><img :src="tickLogo"/> Εγκεκριμμένη</td>
                        <td v-if="breeder.state == 'REJECTED'"><img :src="xLogo"/> Απορριμένη</td>
                        <td v-if="breeder.state == 'CREATED'"><img :src="dashLogo"/> Υπο-επεξεργασία</td>
                        <td>
                            <template v-if="props.userRole == 'ROLE_MANAGER'">
                                <RouterLink :to="{ name: 'manager-breeder-update', params: { breederId: breeder.id} }" class=" btn btn-edit" v-if="breeder.state == 'CREATED'">
                                    Ενημέρωση
                                </RouterLink>
                                <p v-else class="my-auto text-muted table-message">Μη διαθέσιμη</p>
                            </template>  
                            <template v-else>
                                <RouterLink :to="{ name: 'breeder-update', params: { id: farmerId, breederId: breeder.id } }" v-if="breeder.state == 'CREATED'" class="me-2">
                                    <img :src="pencilLogo">
                                </RouterLink>  
                                <p v-else class="my-auto text-muted table-message">Μη διαθέσιμη</p>                               
                            </template> 
                        </td>       
                        <td>
                            <button v-if="breeder.state == 'CREATED' && props.userRole == 'ROLE_CITIZEN'" type="button" class="btn btn-danger" @click="openModal(breeder.id)">Διαγραφή</button> 
                            <p v-else class="my-auto text-muted table-message">Μη διαθέσιμη</p>   
                        </td>                                 
                        <td class="mr-0">
                            <button v-if="breeder.state == 'ACCEPTED'" type="button" class="btn" @click="onDownload( breeder.id )">
                                <img :src="logo"/>
                            </button> 
                        </td>
                    </tr>                        
                </tbody> 
            </template>                            
            <template v-else class="d-grid mx-auto mt-4">
                <tbody> Δεν βρέθηκαν κτηνοτροφικές αιτήσεις.</tbody>   
            </template>                       
        </table>
    </div>
</template>