<script setup>
import { ref } from 'vue';
import { useRouter } from 'vue-router';
import { useApplicationStore } from '@/stores/application';

const router = useRouter();
const applicationStore = useApplicationStore();

const loading = ref(false);

const onFormSubmit = () => {
    loading.value = true;
    applicationStore.clearUserData();
    setTimeout(function () {}, 2000);
    router.push({ name : 'login'});
}
</script>

<template>
    <main>    
        <div class="container-fluid mt-5">
            <div class="row justify-content-center">
                <div class="col-3 card">
                    <div class="card-body">
                        <h1 class="display-6">Έξοδος από την πλατφόρμα</h1>
                        <hr />
                        <div class="d-grid col-4 mx-auto">
                            <button class="btn-outline-blue btn btn-lg" @click="onFormSubmit">Έξοδος</button>
                        </div>                        
                    </div>
                </div>
            </div>
            <div class="row row-cols-2 justify-content-center">              
                <div class="card mx-4 col-3">
                    <div class="card-body">
                        <h1 class="display-6"><b>Δημιουργία ΕΛ.Γ.Α.</b></h1>
                        <hr />
                        <p class="mb-4 lead"><b>Φόρμα δημιουργίας χρήστη με ρόλο ΕΛ.Γ.Α. διαχειριστή.</b></p>
                        <div class="d-grid col-4 mx-auto">
                            <RouterLink :to="{ name: 'create-manager' }" class="btn btn-lg btn-blue">Δημιουργία</RouterLink>
                        </div>                        
                    </div>
                </div>
                <div class="card mx-4 col-3">
                    <div class="card-body">
                        <h1 class="display-6"><b>Διαγραφή χρήστη</b></h1>
                        <hr />
                        <p class="mb-4 lead"><b>Διαγραφή χρήστη με βάση τη διεύθυνση email του.</b></p>
                        <div class="d-grid col-4 mx-auto">
                            <RouterLink :to="{ name: 'delete-user' }" class="btn btn-lg btn-blue">Διαγραφή</RouterLink>
                        </div>  
                    </div>
                </div>              
            </div>   
            
            <div class="row row-cols-2 justify-content-center mt-4">              
                <div class="card mx-4 col-3">
                    <div class="card-body">
                        <h1 class="display-6"><b>Προβολή χρηστών</b></h1>
                        <hr />
                        <p class="mb-4 lead"><b>Προβολή όλων των χρηστών.</b></p>
                        <div class="d-grid col-4 mx-auto">
                            <RouterLink :to="{ name: 'all-users' }" class="btn btn-lg btn-blue">Προβολή</RouterLink>
                        </div>                        
                    </div>
                </div>
                <div class="card mx-4 col-3">
                    <div class="card-body">
                        <h1 class="display-6"><b>Προβολή αιτήσεων</b></h1>
                        <hr />
                        <p class="mb-4 lead"><b>Προβολή όλων των αιτήσεων.</b></p>
                        <div class="d-grid col-4 mx-auto">
                            <RouterLink :to="{ name: 'all-applications' }" class="btn btn-lg btn-blue">Προβολή</RouterLink>
                        </div>  
                    </div>
                </div>              
            </div>          
        </div>
    </main>
</template>