<script setup>
import { RouterLink } from 'vue-router';
import TableSubmissions from '@/components/TableSubmissions.vue';
import TableBreeders from '@/components/TableBreeder.vue';

</script>

<template>
    <main>
        <div class="container-fluid d-flex flex-column">        
            <div class="row justify-content-center">
                <div class="col-xl-7 mb-4">
                    <div class="card text-center mt-3">
                        <div class="card-body">
                            
                            <TableSubmissions :userRole="'ROLE_MANAGER'"></TableSubmissions>
                            
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="container mb-4 line-breaker"></div>
            
            <div class="row justify-content-center">
                <div class="col-xl-7 mb-4">
                    <div class="card text-center mt-3">
                        <div class="card-body">
                            
                            <TableBreeders :userRole="'ROLE_MANAGER'"></TableBreeders>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>


</template>