<script setup>
import { ref, onMounted } from 'vue';
import { remoteDataAccess } from '@/composables/remotaDataAccess';
import GoBackButton from '@/components/GoBackButton.vue';
import { BModal } from 'bootstrap-vue-next';
import deleteBin from '@/assets/images/delete-bin-30.png';
import { useRouter } from 'vue-router';



const router = useRouter();

//// For Modal
const userIdForDelete = ref(null);
const openModalState = ref(false);
const openModal = (value) => {
    userIdForDelete.value = value;
    openModalState.value = true;
}
const onModalDelete = async() => {
    const url = ref('http://localhost:8080/api/auth/' + userIdForDelete.value);
    const auth = ref(true);
    const deleteMethod = ref('DELETE');
    const { error, performRequest } = remoteDataAccess(url, auth, deleteMethod);
    await performRequest();
    if (error.value == true) {
        alert("Αδυναμία διαγραφής αίτησης με αναγνωριστικό: " + userIdForDelete.value);
    }else {
        router.go(router.currentRoute);
    }
}

const auth = ref(true);
const url = ref('http://localhost:8080/api/auth');
const { error, loading, data, performRequest } = remoteDataAccess(url, auth);

onMounted(async () => {
    await performRequest();
});
</script>

<template>
    <b-modal v-model="openModalState" id="modal" title="Επιβεβαίωση διαγραφής" ok-title="Διαγραφή" cancel-title="Ακύρωση"
        no-close-on-backdrop="true" no-close-on-esc="true"  
        body-class="modal-body" footer-class="modal-footer" header-class="modal-header" title-class="display-1"
        centered ok-variant="danger" button-size="lg"
        @ok="onModalDelete()" 
    >
        <div class="d-grid col-2 mx-auto">
            <img :src="deleteBin" class="modal-image mx-auto" />
        </div>
        <p>Είστε σίγουροι πως θέλετε να διαγράψετε τον χρήστη με email: <b>{{ userIdForDelete }}</b>;</p>     
    </b-modal>

    <main>
        <div class="container-fluid d-flex flex-column">
            <div class="row justify-content-center">
                <div class="col-xl-7 mb-4">
                    <div class="card text-center mt-3">
                        <div class="card-body">
                            <div class="d-flex flex-row align-items-center mb-2">
                                <GoBackButton />
                                <h2 class="display-6"><b>Χρήστες συστήματος</b></h2>                                    
                            </div>

                            <div v-if="loading" class="row">
                                <div class="spinner-border mx-auto" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </div>
                            <div v-if="error" class="row">
                                <div class="alert alert-danger mx-auto" role="alert">
                                    Αποτυχία σύνδεσης. Προσπαθήστε ξανά!
                                </div>
                            </div>
                            
                            <div class="table-responsive">
                                <table v-if="data" class="table table-striped table-hover align-middle">
                                    <template v-if="data.length != 0">
                                        <thead>
                                            <tr>
                                                <th>Αναγνωριστικό</th>
                                                <th>Όνομα χρήστη</th>
                                                <th>Διεύθυνση email</th>
                                                <th>Ρόλοι</th>
                                                <th>Διαγραφή</th>
                                            </tr>
                                        </thead>
                                        <tbody>                                    
                                            <tr v-for="user in data">
                                                <td>{{ user.id }}</td>
                                                <td>{{ user.username }}</td>
                                                <td>{{ user.email }}</td>
                                                <td>{{ user.roles }}</td>
                                                <td>
                                                    <button type="button" class="btn btn-danger" @click="openModal(user.email)">Διαγραφή</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </template>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>