<script setup>
import { computed, ref } from 'vue';
import { useRouter } from 'vue-router';
import { remoteDataAccess } from '@/composables/remotaDataAccess';
import useVuelidate from '@vuelidate/core';
import { required, email, sameAs, minLength, alpha, helpers } from '@vuelidate/validators';
import { BOverlay } from 'bootstrap-vue-next';
import GoBackButton from '@/components/GoBackButton.vue';
import protectDanger from '@/assets/images/password/danger.png';
import protectMedium from '@/assets/images/password/medium.png';
import protectSecure from '@/assets/images/password/secure.png';
import notEyeLogo from '@/assets/invisible-24.png';
import eyeLogo from '@/assets/view-20.png';


const router = useRouter();

const formData = ref({
    "username": "",
    "email": "",
    "password": "",
    "confirm": "",
    "firstName": "",
    "lastName": "",
    "afm": "",
    "jobAddress": ""
});

const rules = computed(() => {
    return {
        username: { 
            required: helpers.withMessage("Το πεδίο είναι υποχρεωτικό", required) 
        },
        password: { 
            required: helpers.withMessage("Το πεδίο είναι υποχρεωτικό", required) 
        },
        email: {
            required: helpers.withMessage("Το πεδίο είναι υποχρεωτικό", required),
            email: helpers.withMessage("Εισάγεται έγκυρη διεύθυνση email", email)
        },
        confirm: { 
            sameAs: helpers.withMessage("Το συνθηματικό δεν ταιριάζει", sameAs(formData.value.password)),
        },
        firstName: { 
            required: helpers.withMessage("Το πεδίο είναι υποχρεωτικό", required),
            alpha: helpers.withMessage("Επιτρέπονται μόνο γράμματα της αλφαβήτου", alpha)
        },
        lastName: { 
            required: helpers.withMessage("Το πεδίο είναι υποχρεωτικό", required),
            alpha: helpers.withMessage("Επιτρέπονται μόνο γράμματα της αλφαβήτου", alpha)
        },
        afm: {
            required: helpers.withMessage("Το πεδίο είναι υποχρεωτικό", required),
            minLength: helpers.withMessage("Ο αριθμός δεν είναι ρεαλιστικός", minLength(9))
        }, 
        jobAddress: {
            required: helpers.withMessage("Το πεδίο είναι υποχρεωτικό", required)
        }
    }
});
const v$ = useVuelidate(rules, formData);


const dataToUpperCase = () => {
    formData.value.firstName = formData.value.firstName.toUpperCase();
    formData.value.lastName = formData.value.lastName.toUpperCase();
};


const forbidChars = () => {
    if (formData.value.afm != '') {
       formData.value.afm = formData.value.afm.replace(/\D/g, "");
    }
}


const showPassword = ref(false);

const passwordLogo = ref(null);
const passwordMessage = ref(null);
const passwordLength = ref(null);

const passwordSecurity = () => {
    passwordLength.value = formData.value.password.length;
    if (passwordLength.value <= 4) {
        passwordLogo.value = protectDanger;
        passwordMessage.value = "Αδύναμο συνθηματικό";
    }else if (passwordLength.value <= 7) {
        passwordLogo.value = protectMedium;
        passwordMessage.value = "Μέτρια-ασφαλές συνθηματικό";
    }else {
        passwordLogo.value = protectSecure;
        passwordMessage.value = "Ασφαλές συνθιματικό";
    }
};

const auth = ref(true);
const method = ref("POST");
const url = ref('http://localhost:8080/services/manager/new');
const { loading, error, performRequest } = remoteDataAccess(url, auth, method, formData);

const onFormSubmit = async() => {
    const result = await v$.value.$validate();

    if (!result) {
        return;
    }

    await performRequest();

    if (error.value === false) {
        router.push({ name: 'admin-board'});
    }   
}
</script>

<template>
    <main>
        <div class="container-fluid d-flex flex-column">
            <div class="row justify-content-center mt-5">
                <div class="col-xl-5">
                    <b-overlay :show="loading" opacity="0.6" spinner-large>
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex flex-row align-items-center mb-2">
                                    <GoBackButton />
                                    <h2 class="display-6"><b>Δημιουργία ΕΛ.Γ.Α. χρήστη</b></h2>                                    
                                </div>
                                <hr />

                                <div v-if="error" class="row mb-3">
                                    <div class="alert alert-danger" role="alert">
                                        Αποτυχία εγγραφής! Δοκιμάστε διαφορετικό email ή όνομα χρήστη.
                                    </div>
                                </div>

                                <form>
                                    <h2 class="display-1 mb-4"><b>Στοιχεία χρήστη</b></h2>
                                    <div class="row justify-content-evenly">
                                        <div class="col-5 d-flex flex-column">
                                            <label for="username" class="col-form-label col-form-label-lg">Όνομα χρήστη</label>
                                            <input
                                                v-model="formData.username"
                                                id="username"
                                                type="text"
                                                class="form-control form-control-lg"
                                            />
                                            <div v-for="error in v$.username.$errors" :key="error.$uid" class="text-start error-msg" >{{ error.$message }}</div>
                                        </div>
                                        <div class="col-5 d-flex flex-column">
                                            <label for="email" class="col-form-label col-form-label-lg">Διεύθυνση email</label>
                                            <input
                                                v-model="formData.email"
                                                id="email"
                                                type="text"
                                                class="form-control form-control-lg"
                                            />
                                            <div v-for="error in v$.email.$errors" :key="error.$uid" class="text-start error-msg" >{{ error.$message }}</div>
                                        </div>
                                    </div>

                                    <div class="row justify-content-evenly mb-4">
                                        <div class="col-5 d-flex flex-column">
                                            <label for="password" class="col-form-label col-form-label-lg">Συνθηματικό</label>
                                            <div class="input-group">
                                                <input
                                                    v-model="formData.password"
                                                    :on-change="passwordSecurity()"                                                    
                                                    :type="showPassword ? 'text' : 'password'"
                                                    id="password"
                                                    class="form-control form-control-lg"
                                                />
                                                <button @click.prevent="showPassword = !showPassword" class="input-group-text"><img :src="showPassword ? notEyeLogo : eyeLogo"></button>
                                            </div>                
                                            <div v-for="error in v$.password.$errors" :key="error.$uid" class="text-start error-msg" >{{ error.$message }}</div>
                                            <div class="text-start" style="font-size: 15px;">
                                                <img :src="passwordLogo"/> {{ passwordMessage }}
                                            </div>
                                        </div>
                                        <div class="col-5 d-flex flex-column">
                                            <label for="confirm" class="col-form-label col-form-label-lg">Επιβεβαίωση συνθηματικού</label>
                                            <input
                                                v-model="formData.confirm"
                                                :type="showPassword ? 'text' : 'password'"
                                                id="confirm"
                                                class="form-control form-control-lg"
                                            />
                                            <div v-for="error in v$.confirm.$errors" :key="error.$uid" class="text-start error-msg" >{{ error.$message }}</div>
                                        </div>
                                    </div>

                                    <h2 class="display-1 mb-4"><b>Στοιχεία ΕΛ.Γ.Α.</b></h2>

                                    <div class="row justify-content-evenly">
                                        <div class="col-5 d-flex flex-column">
                                            <label for="firstName" class="col-form-label col-form-label-lg">Όνομα</label>
                                            <input
                                                v-model="formData.firstName"
                                                id="firstName"
                                                type="text"
                                                class="form-control form-control-lg"
                                                :on="dataToUpperCase()"    
                                            />
                                            <div v-for="error in v$.firstName.$errors" :key="error.$uid" class="text-start error-msg" >{{ error.$message }}</div>
                                        </div>
                                        <div class="col-5 d-flex flex-column">
                                            <label for="lastName" class="col-form-label col-form-label-lg">Επώνυμο</label>
                                            <input
                                                v-model="formData.lastName"
                                                id="lastName"
                                                type="text"
                                                class="form-control form-control-lg"
                                                :on="dataToUpperCase()"  
                                            />
                                            <div v-for="error in v$.lastName.$errors" :key="error.$uid" class="text-start error-msg" >{{ error.$message }}</div>
                                        </div>
                                    </div>

                                    <div class="row justify-content-evenly mb-4">
                                        <div class="col-5 d-flex flex-column">
                                            <label for="afm" class="col-form-label col-form-label-lg">Α.Φ.Μ.</label>
                                            <input
                                                v-model="formData.afm"
                                                id="afm"
                                                type="text"
                                                class="form-control form-control-lg"
                                                maxlength="9"
                                                :on="forbidChars()"
                                            />
                                            <div v-for="error in v$.afm.$errors" :key="error.$uid" class="text-start error-msg" >{{ error.$message }}</div>
                                        </div>
                                        <div class="col-5 d-flex flex-column">
                                            <label for="jobAddress" class="col-form-label col-form-label-lg">Έδρα επιθεωρητή</label>
                                            <input
                                                v-model="formData.jobAddress"
                                                id="jobAddress"
                                                type="text"
                                                class="form-control form-control-lg"
                                                :on="dataToUpperCase()"  
                                            />
                                            <div v-for="error in v$.jobAddress.$errors" :key="error.$uid" class="text-start error-msg" >{{ error.$message }}</div>
                                        </div>
                                    </div>

                                    <div class="d-grid col-3 mx-auto">
                                        <button 
                                            @click="onFormSubmit"
                                            type="button"
                                            class="btn-outline-blue btn btn-lg" 
                                            >Διαγραφή
                                        </button>
                                    </div>                
                                </form>
                            </div>
                        </div>
                    </b-overlay>
                </div>
            </div>
        </div>
    </main>
</template>