<script setup>
import { computed, reactive, ref } from 'vue';
import { useRouter } from 'vue-router';
import { BOverlay } from 'bootstrap-vue-next';
import { remoteDataAccess } from '@/composables/remotaDataAccess';
import useVuelidate from '@vuelidate/core';
import { required, email, helpers } from '@vuelidate/validators';
import GoBackButton from '@/components/GoBackButton.vue';

const router = useRouter();

const formData = ref({
    "email": ""
});
const rules = computed(() => {
    return {
        email: {
            required: helpers.withMessage("Το πεδίο είναι υποχρεωτικό", required),
            email: helpers.withMessage("Εισάγεται έγκυρη διεύθυνση email", email)
        }
    }
})
const v$ = useVuelidate(rules, formData);


const method = ref('DELETE');
const auth = ref(true);
const url = computed(() => {
    return 'http://localhost:8080/api/auth/' + formData.value.email;
});
const { loading, error, performRequest } = remoteDataAccess(url, auth, method);

const onFormSubmit = async() => {
    const result = await v$.value.$validate();
    if (!result) {
        return;
    }

    await performRequest();
    
    if (error.value == false) {
        router.push({ name: 'admin-board' });
    }
}
</script>

<template>
    <main>
        <div class="container-fluid d-flex flex-column">
            <div class="row justify-content-center mt-5">
                <div class="col-xl-5">
                    <b-overlay :show="loading" opacity="0.6" spinner-large>
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex flex-row align-items-center mb-2">
                                    <GoBackButton />
                                    <h2 class="display-6"><b>Διαγραφή χρήστη</b></h2>                                    
                                </div>
                                <hr />
                                <p class="lead">Δώστε το email του χρήστη που θέλετε να διαγράψετε.</p>

                                <div v-if="error" class="row mx-auto">
                                    <div class="alert alert-danger" role="alert">
                                        Δυστυχώς κάτι πήγε στραβά. Προσπαθήστε ξανά αργότερα!
                                    </div>
                                </div>

                                <form>
                                    <div class="col-5 d-flex flex-column mx-auto mb-5">
                                        <label for="email" class="col-form-label col-form-label-lg">Διεύθυνση email</label>
                                        <input
                                            v-model="formData.email"
                                            id="email"
                                            type="text"
                                            class="form-control form-control-lg"
                                        />
                                        <div v-for="error in v$.email.$errors" :key="error.$uid" class="text-start error-msg" >{{ error.$message }}</div> 
                                    </div>

                                    <div class="d-grid col-3 mx-auto">
                                        <button class="btn-outline-blue btn btn-lg" @click.prevent="onFormSubmit">Διαγραφή</button>
                                    </div>    
                                </form>
                            </div>
                        </div>
                    </b-overlay>
                </div>
            </div>
        </div>                    
    </main>
</template>