body {
    font-size: 21px;
    background-color: #f7fefc; 
}

footer {
    border-top: 2px solid #00967a;
    font-size: 15px;
    background-color: #f2f2f2; 
}

main {
    padding-top: 150px;
    margin-bottom: 140px;   
    
}
.go-back-image:hover {
    transform: translate(-3%, -0%);
    transition: linear .1s; 
}

.modal-image {
    width: 50px;
    height: 50px
}
.modal-header {
    background-color: #f2f2f2;
    padding-left: 1em;
    padding-block: 1.2em;

}
.modal-body {
    margin-top: 0em;
    margin-bottom: 1em;
}
.modal-footer {
    justify-content: center;
    background-color: #f2f2f2;
}

input::placeholder {
    font-size: 0.8em;
}
textarea::placeholder {
    font-size: 0.8em;
}
textarea {
    resize: none;
}
.btn-dropdown-order {
    padding-left: 15px;
    height: 2.4em; 
    width: fit-content;
    padding-right: 50px;
    background-image: url('../assets/images/sort-30.png');
    background-repeat: no-repeat; 
    background-size: 23px 30px;
    background-position-x: 95%;
    background-position-y: 55%;
    background-color:#ffffff;
    border: none;
    color: #000000;
}
.btn-group:hover {
    background-color: #f2f2f2;
}
.btn-group:active {
    background-color: #f2f2f2;
}

.display-1 {
    font-size: 1.7rem;
}
.bg-body-tertiary{
    border-bottom: 1px solid #00967a;
}

.line-breaker {
    width: 40%;
    border-top: 3px solid #d4351c;
}

.navbar-brand {
    font-size: 40px; 
    padding-left: 30%;
}
.navbar {
    background-color: #00967a; 
    height: 150px;
}
.card {
    padding: 24px;
    margin-bottom: 16px;
   
}
.error-msg {
    color: #d4351c;
    font-size: 15px;
}

.input-error {
    background-color: #d4351c;
}

.btn-danger {
    background-color: #d4351c;
}

.btn-outline-blue {
    padding-block: 12px;
    font-weight: 500;
    border: #00ad8d solid 1px;
    background-color: #f2f2f2;
}
.btn-outline-blue:hover {
    background-color: #00ad8d;
    transform: translate(-0%, -2%);
    box-shadow: -2px 1px 35px 0px #cccccc;
    transition: 0.2s all ease; 
    -webkit-transition: .2s;
}
.btn-blue {
    padding-block: 0.6em;
    font-weight: 500;
    color: #000000;
    background-color: #00ad8d;
}
.btn-blue:hover {
    transform: translate(-0%, -2%);
    transition: 0.1s; 
    -webkit-transition: 0.1s;
    box-shadow: -2px 1px 35px 0px #cccccc;
    color: #000000;
    background-color: #00ad8d;
}

.table-message {
    font-size: 17px;
}
.btn-edit {
    color: #f5f5f5;
    background-color: #006DB5;
}
.btn-edit:hover {
    border: 1px solid #006DB5;
    color: #006DB5;
    background-color: #f5f5f5;
}

.alert-danger {
    font-size: 1.2em;
    padding-block: .8em;
    border-radius: .6em;
    border: none;
    box-shadow: -0px 4px 15px 1px #cccccc;
    color: 	#000000;
    background: linear-gradient(to top left, rgb(254,129,129), rgb(254,77,77));
}
.alert-warning {
    background-color: rgb(255,193,0);
}

.btn-back-to:not(:disabled) {
    border: none;
}