<script setup>
import BreederInfo from '@/components/BreederInfo.vue';

</script>

<template>
    <main>
        <div class="container-fluid pt-3 bg-body-tertiary">
            <div class="row">
                <a class="col-auto">
                    <RouterLink :to=" { name: 'home' } "> Αρχική </RouterLink>
                </a>
                <p class="col-auto">></p>
                <p class="col-auto">
                    <RouterLink :to=" { name: 'manager-catalog' } "> Διαχείριση αιτήσεων </RouterLink>
                </p>
                <p class="col-auto">></p>
                <p class="col-auto">Προβολή Κτηνοτροφικής Αίτησης</p>
            </div>
        </div>
        <div class="container-fluid d-flex justify-content-center">
            <div class="col-lg-5 mb-4">
                <div class="card mt-3">
                    
                    <BreederInfo />

                </div>
            </div>
        </div>
    </main>
</template>