<script setup>
import { onMounted, ref } from 'vue';
import { RouterLink } from 'vue-router';
import { remoteDataAccess } from '@/composables/remotaDataAccess.js';
import { useApplicationStore } from '@/stores/application.js';
import GoBackButton from '@/components/GoBackButton.vue';

const applicationStore = useApplicationStore();

const url = ref('http://localhost:8080/services/manager/' + applicationStore.userData.id);
const auth = ref(true);
const { data, loading, performRequest } = remoteDataAccess(url, auth);

onMounted(() => {
    performRequest(); 
});
</script>

<template>
    <main>
        <div class="container-fluid pt-3 bg-body-tertiary">
            <div class="row">
                <a class="col-auto">
                    <RouterLink :to=" { name: 'home' } "> Αρχική </RouterLink>
                </a>
                <p class="col-auto">></p>
                <p class="col-auto">Το Προφίλ μου</p>
            </div>
        </div>
        <div class="container-fluid d-flex flex-column">
            <div class="row justify-content-center">
                <div class="col-xl-5 mb-4">
                    <div class="card mt-3">
                        <div class="card-body text-center"> 
                            <div class="d-flex flex-row align-items-center mb-3">
                                <GoBackButton />
                                <h2 class="display-6"><b>Προσωπικά Στοιχεία</b></h2>
                            </div>

                            <hr />

                            <div v-if="loading" class="row">
                                <div class="spinner-border mx-auto" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </div>

                            <template v-if="data">                            
                                <div class="row justify-content-start lead">
                                    <div class="col-4 text-end">
                                        <p><i>Όνομα</i></p>
                                    </div>
                                    <div class="col-5">
                                        <p><b>{{ data.firstName }}</b></p>
                                    </div>
                                </div>
                                <hr class="mt-0"/>
                                <div class="row justify-content-start lead">
                                    <div class="col-4 text-end">
                                        <p><i>Επώνυμο</i></p>
                                    </div>
                                    <div class="col-5">
                                        <p><b>{{ data.lastName }}</b></p>
                                    </div>
                                </div>
                                <hr class="mt-0"/>
                                <div class="row justify-content-start lead">
                                    <div class="col-4 text-end">
                                        <p><i>Α.Φ.Μ.</i></p>
                                    </div>
                                    <div class="col-5">
                                        <p><b>{{ data.afm }}</b></p>
                                    </div>
                                </div>
                                <hr class="mt-0"/>
                                <div class="row justify-content-start lead">
                                    <div class="col-4 text-end">
                                        <p><i>Έδρα</i></p>
                                    </div>
                                    <div class="col-5">
                                        <p><b>{{ data.jobAddress }}</b></p>
                                    </div>
                                </div>
                                <hr class="mt-0 mb-1"/>                    
                            </template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>

