<script setup>
import NavUpdateApplicManager from '@/components/NavUpdateApplicManager.vue';
import useVuelidate from '@vuelidate/core';
import { required, minValue, maxValue, helpers } from '@vuelidate/validators';
import { ref, computed, onMounted } from 'vue';
import { useRoute } from 'vue-router';
import { remoteDataAccess } from '@/composables/remotaDataAccess.js';
import GoBackButton from '@/components/GoBackButton.vue';
import { BFormRadio, BFormRadioGroup, BFormGroup, BOverlay } from 'bootstrap-vue-next';

const route = useRoute();

const formData = ref({
    "damagePercentage": "",
    "pricePerUnit": "",
    "state": ""
});
const rules = computed(() => {
    return {
        damagePercentage: { 
            required: helpers.withMessage("Το πεδίο είναι υποχρεωτικό", required),
            minValue: helpers.withMessage("Η τιμή πρέπει να είναι θετική", minValue(0.01)),
            maxValue: helpers.withMessage("Η τιμή είναι πολύ μεγάλη", maxValue(100)) 
        },
        pricePerUnit: { 
            required: helpers.withMessage("Το πεδίο είναι υποχρεωτικό", required),
            minValue: helpers.withMessage("Η τιμή πρέπει να είναι θετική", minValue(0.01)),
            maxValue: helpers.withMessage("Η τιμή είναι πολύ μεγάλη", maxValue(99999.99)) 
        },
        state: { required: helpers.withMessage("Το πεδίο είναι υποχρεωτικό", required)}
    };
});
const v$ = useVuelidate(rules, formData);


const correctQuantityField = () => {
    if (formData.value.damagePercentage == '') {
        return;
    }
    // Erase a non digit char
    formData.value.damagePercentage = formData.value.damagePercentage.replace(/[a-zA-Z]/g, "");
    // Replace semicolon with dot
    formData.value.damagePercentage = formData.value.damagePercentage.replace(",", ".");
    // Then check if the are more than one dots and remove the last char of the string which will be the last added doubled dot
    const colonAppearencesList = formData.value.damagePercentage.match(/\./g);
    if (colonAppearencesList == null) {
        return;
    }
    const colonAppearences = colonAppearencesList.length;
    if (colonAppearences > 1) {
        formData.value.damagePercentage = formData.value.damagePercentage.substring(0, formData.value.damagePercentage.length - 1);
        return;
    }
    const floatingPart = formData.value.damagePercentage.split('.');
    if (floatingPart[1].length > 2) {
        formData.value.damagePercentage = formData.value.damagePercentage.substring(0, formData.value.damagePercentage.length - 1);
    }
};
const correctQuantityField1 = () => {
    if (formData.value.pricePerUnit == '') {
        return;
    }
    // Erase a non digit char
    formData.value.pricePerUnit = formData.value.pricePerUnit.replace(/[a-zA-Z]/g, "");
    // Replace semicolon with dot
    formData.value.pricePerUnit = formData.value.pricePerUnit.replace(",", ".");
    // Then check if the are more than one dots and remove the last char of the string which will be the last added doubled dot
    const colonAppearencesList = formData.value.pricePerUnit.match(/\./g);
    if (colonAppearencesList == null) {
        return;
    }
    const colonAppearences = colonAppearencesList.length;
    if (colonAppearences > 1) {
        formData.value.pricePerUnit = formData.value.pricePerUnit.substring(0, formData.value.pricePerUnit.length - 1);
        return;
    }
    const floatingPart = formData.value.pricePerUnit.split('.');
    if (floatingPart[1].length > 2) {
        formData.value.pricePerUnit = formData.value.pricePerUnit.substring(0, formData.value.pricePerUnit.length - 1);
    }
};


const stateSelection = ref(null);
const stateSelectionChange = (value) => {
    if (value == 'ACCEPTED') {
        stateSelection.value = false;
        formData.value.state = 'ACCEPTED';
    }else if (value == 'REJECTED') {
        // Clear inputs possibly filled
        formData.value.damagePercentage = ""; 
        formData.value.pricePerUnit = "";

        stateSelection.value = true;
        formData.value.state = 'REJECTED';
    }   
}

const applicationId = ref(null);
const auth = ref(true);
const url = computed(() => {
    return 'http://localhost:8080/services/manager/' + applicationId.value + '/submission';
});
const method = ref("POST");
const { error, loading, performRequest } = remoteDataAccess(url, auth, method, formData);

const onFormSubmit = async() => {
    if (formData.value.state == 'REJECTED') {
        formData.value.damagePercentage = "";
        formData.value.pricePerUnit = "";
        performRequest();
    }else {
        const result = await v$.value.$validate();
        if (result) {
            formData.value.state = "ACCEPTED";
            performRequest();
        }
    }
}

onMounted(() => {
    applicationId.value = route.params.submissionId;
});
</script>

<template>
    <main>
        <NavUpdateApplicManager />
        <div class="container-fluid d-flex justify-content-center">
            <div class="col-xl-5">
                <b-overlay :show="loading">
                    <div class="card mt-3">
                        <div class="card-body">
                            <div class="d-flex flex-row align-items-center mb-3">
                                <GoBackButton />
                                <h2 class="display-6"><b>Ενημέρωση Αίτησης Καλλιέργειας</b></h2>
                            </div>
                            <hr />
                
                            <div v-if="error" class="row mb-3">
                                <div class="alert alert-danger" role="alert" >                        
                                    Κάτι πήγε στραβά. Προσπαθήστε ξανά αργότερα!
                                </div>
                            </div>

                            <form>
                                <div class="d-grid col-4 mx-auto mb-4 justify-content-center">
                                    <label for="state" class="mx-auto col-form-label col-form-label-lg"><b>Κατάσταση</b></label>
                                    <b-form-group v-slot="{ ariaDescribedby }">
                                        <b-form-radio-group :aria-describedby="ariaDescribedby" buttons>                                        
                                            <b-form-radio
                                                @click="stateSelectionChange('ACCEPTED')"
                                                button-variant="outline-dark"
                                                size="lg"
                                            >ΕΓΚΡΙΣΗ</b-form-radio>
                                            <b-form-radio
                                                @click="stateSelectionChange('REJECTED')"
                                                button-variant="outline-dark"
                                                class="btn-blue"
                                                size="lg"
                                            >ΑΠΟΡΡΙΨΗ</b-form-radio>
                                        </b-form-radio-group> 
                                    </b-form-group>   
                                    <div v-for="error in v$.state.$errors" :key="error.$uid" class="text-start error-msg" >{{ error.$message }}</div>                                      
                                </div>
                            
                                <div class="col-5 mx-auto mb-2">
                                    <label for="damagePercentage" class="col-form-label col-form-label-lg">Ποσοστό κάλυψης ζημιών:</label>
                                    <div class="input-group">
                                        <input 
                                            v-model="formData.damagePercentage"
                                            type="text" 
                                            class="form-control form-control-lg" 
                                            id="damagePercentage"
                                            maxlength="5"
                                            placeholder="Μέγιστη τιμή: 100"
                                            :disabled='stateSelection'
                                            :on="correctQuantityField()"
                                        />
                                        <div class="input-group-text col-2 justify-content-center" style="font-size: 0.9em;">%</div>                                
                                    </div>
                                    <div v-for="error in v$.damagePercentage.$errors" :key="error.$uid" class="text-start error-msg" >{{ error.$message }}</div>                               
                                </div>
                                <div class="col-5 mx-auto mb-5">
                                    <label for="pricePerUnit" class="col-form-label col-form-label-lg">Τιμή ανά μονάδα προϊόντος:</label>
                                    <div class="input-group">
                                        <input 
                                            v-model="formData.pricePerUnit"
                                            type="text" 
                                            class="form-control form-control-lg" 
                                            id="pricePerUnit"
                                            maxlength="8"
                                            placeholder="Μέγιστη τιμή: 99999.99"
                                            :disabled='stateSelection'
                                            :on="correctQuantityField1()"
                                        />
                                        <div class="input-group-text col-2 justify-content-center" style="font-size: 1em;">€</div> 
                                    </div>
                                    <div v-for="error in v$.pricePerUnit.$errors" :key="error.$uid" class="text-start error-msg" >{{ error.$message }}</div>
                                </div>
                            
                                <div class="d-grid col-3 mx-auto">
                                    <button 
                                        @click="onFormSubmit"
                                        type="button" 
                                        class="btn btn-lg btn-outline-blue">
                                        Υποβολή
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </b-overlay>
            </div>
        </div>
    </main>
</template>