<script setup>
import { RouterLink } from 'vue-router';
import GoBackButton from '@/components/GoBackButton.vue';
</script>

<template>
    <main>
        <div class="container-fluid pt-3 bg-body-tertiary">
            <div class="row">
                <a class="col-auto">
                    <RouterLink :to=" { name: 'home' } "> Αρχική </RouterLink>
                </a>
                <p class="col-auto">></p>
                <p class="col-auto">Επικοινωνία</p>
            </div>
        </div>
        <div class="container-fluid d-flex flex-column">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="card mt-3">
                        <div class="card-body lead">
                            <div class="d-flex flex-row align-items-center mb-3">
                                <GoBackButton />
                                <h2 class="display-5"><b>Επικοινωνία</b></h2>
                            </div>   
                            <hr />                         
                            <p><b>Σε περίπτωση που έχετε οποιαδήποτε απορία, μπορείτε να επικοινωνήσετε στα παρακάτω στοιχεία:</b></p>                                                    
                            <ul>
                                <li class="text-muted">
                                    <p><i>noreply.myelga@gmail.com</i></p>
                                </li>
                                <p><b><u>ή</u></b> με την ομάδα μας στα:</p>
                                <li class="text-muted">
                                    <p><i>it2021010@hua.gr, Αποστολίδης Χρήστος</i></p>
                                </li>
                                <li class="text-muted">
                                    <p><i>it2021013@hua.gr, Βελέντζας Γεώργιος</i></p>
                                </li>
                            </ul>
                            <hr/>
                            <p><b>Εάν επιθυμείτε να <b>διαγράψετε τον λογαριασμό σας</b>, μπορούμε να το πραγματοποιήσουμε μόνο εμείς για εσάς, αφού πρώτα επικοινωνήσετε μαζί μας ζητώντας την διαγραφή του.</b></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>