<script setup>
import GoBackButton from '@/components/GoBackButton.vue';
</script>

<template>
    <main>
        <div class="container-fluid pt-3 bg-body-tertiary">
                <div class="row">
                    <a class="col-auto">
                        <RouterLink :to=" { name: 'home' } "> Αρχική </RouterLink>
                    </a>
                    <p class="col-auto">></p>
                    <p class="col-auto">Υποστήριξη</p>
                </div>
            </div>
        <div class="container-fluid d-flex flex-column">
            <div class="row justify-content-center">
                <div class="col-lg-5">                   
                    <div class="card mt-3">                        
                        <div class="card-body">
                            <div class="d-flex flex-row align-items-center mb-2">
                                <GoBackButton />
                                <h2 class="display-5 mb-2"><b>Υποστήριξη</b></h2>
                            </div>   
                            <hr />             
                            <ul>
                                <li>
                                    <h4><b>Μάθε τι είναι το myΕ.Λ.Γ.Α.:</b></h4>
                                    <p class="lead">
                                        <b>
                                        Το myΕ.Λ.Γ.Α. είναι μια ηλεκτρονική πλατφόρμα διαχείρισης αγροτικών αποζημιώσεων από φυτσικές καταστροφές. Οποισδήποτε αγρότης μπορεί αφού εισέλθει στην πλατφόρμα 
                                        να υποβάλλει αίτηση για καταστροφή είτε καλλιέργειας είτε ζωικού κεφαλαίου και μέσω της καρτέλας του προφίλ του να ελέγξει εάν έχει εγκριθεί ή όχι και το ακριβές ποσό 
                                        αποζημίωσης στην πρώτη περίπτωση. Από την πλευρά των επιθεωρητών Ε.Λ.Γ.Α. παρέχεται η δυνατότητα να επεξεργαστόυν οποιαδήποτε αίτηση έχει υποβληθεί και αυτομάτως να δημιουργηθεί
                                        το ποσό αποζημίωσης σε περίπτωση που εγκριθεί.
                                        </b>
                                    </p>
                                </li>
                                <hr/>
                                <li>
                                    <h4><b>Μάθε τι χρειάζεσαι για να χρησιμοποιήσεις την πλατφόρμα:</b></h4>
                                    <p class="lead"><b>
                                        Για την πρόσβαση στις υπηρεσίες του myΕ.Λ.Γ.Α. χρειάζεται να γίνει είσοδος με το όνομα χρήστη και συνθηματικό, ενώ εάν δεν υπάρχουν τότε μπορεί να γίνει εγγραφή 
                                        (κάνοντας κλικ <RouterLink :to="{ name: 'signup' }">εδώ</RouterLink>). Όσον αφορά τους επιθεωρητές Ε.Λ.Γ.Α. η εγγραφή δεν παρέχεται αλλά η είσοδος γίνεται με τους κωδικούς
                                        που σας έχουν δοθεί από την πλατφόρμα.
                                    </b></p>
                                </li>
                                <hr/>
                                <li>
                                    <h4><b>Μάθε πως να εγγραφείς στην πλατφόρμα:</b></h4>
                                    <p class="lead"><b>
                                        Για να εγγραφείτε στην πλατφόρμα, μεταβείτε <RouterLink :to="{ name: 'signup' }">εδώ</RouterLink> και εισάγεται το όνομα χρήστη της αρεσκείας σας, μία έγκυρη/ενεργή Διεύθυνση
                                        ηλεκτρονικού ταχυδρομείου (e-mail) και το συνθηματικό που επιυθυμείτε. Κάνοντας κλικ στο κουμπί 'εγγραφή' το σύστημα θα επεξεργαστεί τα παραπάνω στοιχεία και εάν δεν υπάρχει 
                                        ήδη εγγεγραμμένος χρήστης με τα ίδια στοιχεία, θα ολοκληρωθεί η εγγραφή σας.
                                    </b></p>
                                </li>
                                <hr/>
                                <li>
                                    <h4><b>Μάθε πως να υποβάλλεις την πρώτη σου αίτηση:</b></h4>
                                    <p class="lead"><b>
                                        Μεταβείτε στην σελίδα επιλογής αίτησης με βάση το είδος της κάνοντας κλικ <RouterLink :to="{ name: 'submission_menu' }">εδώ</RouterLink>.                
                                        Δείτε ποια είναι τα απαραίτητα στοιχεία για να υποβάλλετε την αντίστοιχη αίτηση και αφού βεβαιωθείτε ότι τα γνωρίζεται προχωρήστε στο στάδιο δημιουργίας της αίτησης.
                                    </b></p>
                                </li>
                                <hr/>
                                <li>
                                    <h4><b>Μάθε πως θα γίνει η επεξεργασία της υποβληθείσας αίτησης:</b></h4>
                                    <p class="lead"><b>
                                        Αφού έχει υποβληθεί η εκάστοτε αίτηση, η κατάσταση της βρίσκεται σε 'υπό-επεξεργασία' και όσο παραμένει έτσι μπορείτε να τροποποιήσετε τα πεδία της. Ο επιθεωρητής του 
                                        Ε.Λ.Γ.Α. εισάγει τα επιπλέον πεδία ύστερα από την επιθεώρηση του στο χώρο που η περιουσία σας υπέστει καταστροφή και κατάσταση της αίτησης ενημέρωνεται σε 'Εγκεκριμμένη' ή 
                                        ΄αποριμμένη'. Σε περίπτωση έγκρισης υπολογίζεται αυτόματα το ποσό αποζημίωσης σας το οποίο είναι διαθέσιμο στη καρτέλα 'Προβολή'της αντίστοιχης αίτησης.
                                    </b></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>