<script setup>
import { onMounted, ref } from 'vue';
import { RouterLink, useRouter } from 'vue-router';
import { useApplicationStore } from '@/stores/application.js';
import loginLogo from '@/assets/images/login-48.png';

const router = useRouter();
const applicationStore = useApplicationStore();

const loading = ref(false);

const onFormSubmit = () => {
    loading.value = true;
    applicationStore.clearUserData();
    setTimeout(function () {}, 2000);
    router.push({ name : 'login'});
}

onMounted(() => {
    console.log("checking for redirection");
    if (applicationStore.isAuthenticated && applicationStore.userData.roles == 'ROLE_ADMIN') {
        console.log("redirecting");
        router.push({ name: 'admin-board'});
    }
})
</script>

<template>
<main>
    <div class="container-fluid d-flex flex-column mt-3">
        <div class="row justify-content-center">
            <div class="col-xl-5 mb-2">
                <div class="card">
                    <div class="card-body">
                        <h1 class="display-3 text-center">Καλώς ορίσατε στο <b>myΕ.Λ.Γ.Α.</b>,</h1>
                        <h3 class="display-6 mb-4 text-center">την πλατφόρμα ηλεκτρονικής διαχείρισης των αγροτικών αποζημιώσεων.</h3>
                        <p class="lead text-start"><b>Η πλατφόρμα δημιουργήθηκε το έτος 2024 για ακαδημαϊκό σκοπό και είναι πλήρως λειτουργική. Μέσα από αυτήν παρέχονται υπηρεσίες και για τους πολίτες δηλαδή τη δυνατότητα να υποβάλλουν δύο είδη αιτήσεων, να διατηρούν το δικό τους προφίλ
                            οργανωμένο με τα προσωπικά τους στοιχεία και τις υποβληθείσες αιτήσεις τους, αλλά και για τους υπεύθυνους του ΕΛ.Γ.Α. οι οποίοι με τη σειρά τους
                            έχουν τη δυνατότητα να κοιτάξουν όλες τις αιτήσεις που έχουν υποβληθεί και να τις επεξεργαστούν.</b></p>
                        <div v-if="applicationStore.isAuthenticated === false" class="d-grid col-3 mx-auto">
                            <RouterLink :to="{ name : 'login' }" class="btn btn-lg btn-blue py-1"><img v-bind:src="loginLogo"> Είσοδος</RouterLink>
                        </div>
                        <div v-else class="d-grid col-3 mx-auto">
                            <button @click="onFormSubmit" type="button" class="btn btn-lg btn-outline-blue">Έξοδος</button>
                        </div>
                        <div v-if="loading" class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        <template v-if="applicationStore.isAuthenticated === true">
            <div class="container mb-4 line-breaker"></div>
            <div v-if="applicationStore.userData.roles == 'ROLE_CITIZEN'">
                <div class="row justify-content-center">
                    <div class="col-xxl-5 mb-2">
                        <div class="card">
                            <div class="card-body">
                                <h2 class="display-6 mb-4"><b>Το Προφίλ μου</b></h2>
                                <p class="lead mb-5">Δείτε στο προφίλ σας τα προσωπικά σας στοιχεία και διαμορφώστε τα εάν δεν έχει γίνει ήδη, καθώς και τις αιτήσεις σας οργανωμένες
                                    ανάλογα με το είδος τους. Εκεί θα μπορείτε να ενημερωθείτε σχετικά με τη κατάσταση των αιτήσεων που έχουν ήδη υποβληθεί, να τις επεξεργαστείτε, 
                                    να δείτε τα καταχωρημένα στοιχεία, να την διαγράψετε αλλά και να κατεβάσετε το έγγραφο της.
                                    Μεταβείτε στο προφίλ σας κάνοντας κλικ <router-link :to="{ name : 'farmer_profile', params: {id: applicationStore.userData.id } }">εδώ</router-link> ή στο κουμπί παρακάτω.
                                </p>
                                <div class="d-grid col-3 mx-auto">
                                    <RouterLink :to="{ name : 'farmer_profile', params: {id: applicationStore.userData.id } }" class="btn btn-lg btn-blue">Το προφίλ μου</RouterLink>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container mb-4 line-breaker"></div>
                <div class="row justify-content-center">
                    <div class="col-xxl-5 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <h2 class="display-6 mb-4"><b>Υπηρεσίες</b></h2>
                                <p class="lead mb-5">Μεταβείτε στις παρεχόμενες υπηρεσίες κάνοντας κλικ εδώ. Υποστηρίζονται δύο ειδών αιτήσεις για αποζημίωση λόγω φυσικών καταστροφών.</p>
                                <div class="d-grid col-3 mx-auto">
                                    <RouterLink :to="{ name: 'submission_menu'}" class="btn btn-lg btn-blue">Αίτηση τώρα</RouterLink>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <template v-if="applicationStore.userData.roles == 'ROLE_MANAGER'">
                <div class="row justify-content-center">
                    <div class="col-xxl-5 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <h2 class="display-6 mb-4"><b>Το Προφίλ μου</b></h2>
                                <p class="lead mb-5">Δείτε στο προφίλ σας τα προσωπικά σας στοιχεία και διαμορφώστε τα εάν δεν έχει γίνει ήδη. Μεταβείτε στο προφίλ σας κάνοντας κλικ 
                                    <router-link :to="{ name : 'manager-profile', params: {id: applicationStore.userData.id } }">εδώ</router-link> ή στο κουμπί παρακάτω.
                                </p>
                                <div class="d-grid col-3 mx-auto">
                                    <RouterLink :to="{ name : 'manager-profile', params: {id: applicationStore.userData.id } }" class="btn btn-lg btn-blue">Το προφίλ μου</RouterLink>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container mb-4 line-breaker"></div>
                <div class="row justify-content-center">
                    <div class="col-xxl-5 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <h2 class="display-6 mb-4"><b>Υπηρεσία διαχείρισης</b></h2>
                                <p class="lead mb-5">Μεταβείτε στο στάδιο διαχείρισης όλων των αιτήσεων των πολιτών, κατηγοροποιημένες με το είδος τους. Εκεί μπορείτε να δείτε λεπτομέρειες αυτών,
                                    να εγκρίνεται ή να απορρίψετε κάποια και να κατεβάσετε το τελικό αρχείο της αίτησης.
                                </p>
                                <div class="d-grid col-3 mx-auto">
                                    <RouterLink :to="{ name: 'manager-catalog'}" class="btn btn-lg btn-blue">Διαχείριση αιτήσεων</RouterLink>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </template>

            <template v-if="applicationStore.userData.roles == 'ROLE_ADMIN'">
                <div class="row justify-content-center">
                    <div class="col-xl-5 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <h2 class="display-6 mb-4"><b>Το Προφίλ μου</b></h2>
                                <div class="d-grid col-3 mx-auto">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container mb-4 line-breaker"></div>
                <div class="row justify-content-center">
                    <div class="col-xl-5 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <h2 class="display-6 mb-4"><b>Διαγραφή χρήστη</b></h2>                            
                                <div class="d-grid col-3 mx-auto">                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </template>
        </template>
    </div>
</main>
</template>
