<script setup>
import { onBeforeMount, ref, computed } from 'vue';
import { useRouter, RouterLink } from 'vue-router';
import { useApplicationStore } from '@/stores/application.js';
import useVuelidate from '@vuelidate/core';
import { required, helpers } from '@vuelidate/validators';
import { BOverlay} from 'bootstrap-vue-next';
import GoBackButton from '@/components/GoBackButton.vue';
import eyeLogo from '@/assets/view-20.png';
import invisibleLogo from '@/assets/invisible-24.png';


const { setUserData, persistUserData, isAuthenticated } = useApplicationStore();
const router = useRouter();


const credentials = ref({
    username: '',
    password: ''
});
const rules = computed(() => {
    return {
        username: { required: helpers.withMessage("Το πεδίο είναι υποχρεωτικό", required) }, 
        password: { required: helpers.withMessage("Το πεδίο είναι υποχρεωτικό", required) }
    }
});
const v$ = useVuelidate(rules, credentials);

const showPassword = ref(false);
const toggleShowPassword = () => {
    if (showPassword.value == true) {
        showPassword.value = false;
    }else {
        showPassword.value = true;
    }
}

const loading = ref(false);
const authenticationFailed = ref(null);

const onFormSubmit = async() => {
    const result = await v$.value.$validate();
    if(!result) {
        return;
    }
    loading.value = true;
    authenticationFailed.value = false;

    fetch('http://localhost:8080/api/auth/signin', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(credentials.value)
    })
    .then((response) => {
        if (response.ok) {
            response.json().then((data) => {
                setUserData(data);
                persistUserData();
                router.push({ name: 'home'});
            })
        } else {
            authenticationFailed.value = true;
        }
    })
    .catch((error) => {
        console.warn(error);
        authenticationFailed.value = true;
    })
    .finally(() => {
        loading.value = false;
    });
};

onBeforeMount(() => {
    if (isAuthenticated === true) {
        router.push( {name: 'home'} );
    }
});
</script>

<template>
    <main>
        <div class="container-fluid pt-3 bg-body-tertiary">
            <div class="row">
                <a class="col-auto">
                    <RouterLink :to=" { name: 'home' } "> Αρχική </RouterLink>
                </a>
                <p class="col-auto">></p>
                <p class="col-auto">Είσοδος</p>
            </div>
        </div>

        <div class="container-fluid d-flex flex-column">
            <div class="row justify-content-center">
                <div class="col-lg-4 mb-4">
                    <b-overlay :show="loading" opacity="0.6" spinner-large>
                        <div class="card text-center mt-3">
                            <div class="card-body">
                                <div class="d-flex flex-row align-items-center mb-2">
                                    <GoBackButton />
                                    <h2 class="display-6"><b>Είσοδος</b></h2>
                                </div>
                                
                                <div class="row mb-3" v-if="authenticationFailed">
                                    <div class="alert alert-danger" role="alert">
                                        Αποτυχία σύνδεσης!
                                    </div>
                                </div>          
                                <form>                                
                                    <div class="row mb-3">
                                        <label for="username" class="col-3 col-form-label col-form-label-lg">Όνομα χρήστη:</label>
                                        <div class="col-7">
                                            <input 
                                                v-model="credentials.username"
                                                type="text" 
                                                class="form-control form-control-lg" 
                                                id="username"
                                                maxLength="15"
                                            />
                                            <div v-for="error in v$.username.$errors" :key="error.$uid" class="text-start error-msg" >{{ error.$message }}</div> 
                                        </div>
                                    </div>
                                    <div class="row mb-5">
                                        <label for="password" class="col-3 col-form-label-lg">Συνθηματικό:</label>
                                        <div class="col-7">
                                            <div class="input-group flex-nowrap">
                                                <input 
                                                    v-model="credentials.password"
                                                    class="form-control form-control-lg" name="password" 
                                                    id="password"
                                                    maxLength="30"
                                                    :type="showPassword ? 'text' : 'password'"
                                                />
                                                <button @click.prevent="toggleShowPassword" class="input-group-text"><img :src="showPassword ? invisibleLogo : eyeLogo"></button>                                                 
                                            </div>
                                            <div v-for="error in v$.password.$errors" :key="error.$uid" class="text-start error-msg">{{ error.$message }}</div>
                                        </div>
                                    </div>
                                    <div class="d-grid col-3 mx-auto mb-2">
                                        <button 
                                            @click.prevent="onFormSubmit"
                                            type="submit" 
                                            class="btn btn-lg btn-blue">
                                            Είσοδος
                                        </button>
                                    </div>
                                    <div style="font-size: 0.9em"><RouterLink :to=" { name: 'forgot-password' }">Ξέχασατε το συνθηματικό σας;</RouterLink></div>
                                    <p class="my-0">ή</p>
                                    <div>
                                        Δεν είσαι εγγεγραμμένος; Εγγράψου τώρα <RouterLink :to=" { name: 'signup' } ">εδώ</RouterLink>.
                                    </div>
                                </form>                            
                            </div>
                        </div>
                    </b-overlay>
                </div>
            </div>
        </div>
    </main>
</template>