<template>
    <main>
        <div class="container-fluid d-flex" style="padding-top: 150px;">
            <div class="row justify-content-center">
                <div class="col-6 justify-content-center">
                    <p style="font-size: 40px;">Όλοι επιλέγουμε κάποτε το λάθος μονοπάτι,<b> αλλά στο τέλος βρίσκουμε το σωστό δρόμο!</b></p>
                    <div>
                        <RouterLink :to="{ name: 'home' }" class="btn btn-lg btn-dark" style="padding-block: 25px; padding-inline: 35px;font-size: 35px;">Πίσω στην Αρχική</RouterLink>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>