<script setup>
import { RouterLink, onBeforeRouteLeave, useRoute, useRouter } from 'vue-router';
import { BOverlay } from 'bootstrap-vue-next';
import { ref, computed, reactive } from 'vue';
import useVuelidate from '@vuelidate/core';
import { required, sameAs, helpers } from '@vuelidate/validators';
import protectDanger from '@/assets/images/password/danger.png';
import protectMedium from '@/assets/images/password/medium.png';
import protectSecure from '@/assets/images/password/secure.png';
import eyeLogo from '@/assets/view-20.png';
import invisibleLogo from '@/assets/invisible-24.png';
import { useApplicationStore } from '@/stores/application';


const { email, clearVerifiedEmail } = useApplicationStore();

const router = useRouter();
const route = useRoute();

const changePasswordData = ref({
    "email": "",
    "password": "",
    "confirm": ""
})
const rules = computed(() => {
    return {
        password: { 
            required: helpers.withMessage("Το πεδίο είναι υποχρεωτικό", required)
        },
        confirm: { 
            sameAs: helpers.withMessage("Το συνθηματικό δεν ταιριάζει", sameAs(changePasswordData.value.password)),
        }
    }
});
const v$ = useVuelidate(rules, changePasswordData);

//// For password 
const showPassword = ref(false);

const passwordLogo = ref(null);
const passwordMessage = ref(null);
const passwordLength = ref(null);

const passwordSecurity = () => {
    passwordLength.value = changePasswordData.value.password.length;
    if (passwordLength.value <= 4) {
        passwordLogo.value = protectDanger;
        passwordMessage.value = "Αδύναμο συνθηματικό";
    }else if (passwordLength.value <= 7) {
        passwordLogo.value = protectMedium;
        passwordMessage.value = "Μέτρια-ασφαλές συνθηματικό";
    }else {
        passwordLogo.value = protectSecure;
        passwordMessage.value = "Ασφαλές συνθιματικό";
    }
};


const loading = ref(false);
const error = ref(false);
const onFormSubmit = async() => {
    const result = await v$.value.$validate();
    loading.value = true;

    if (!result) {
        loading.value = false;
        return;
    }
    console.log("Email from storage: " + email);
    console.log("Data for fetch: " + changePasswordData.value.password);
    changePasswordData.value.email = email;
    console.log("Before fewtching");
    fetch('http://localhost:8080/api/auth/password' , {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(changePasswordData.value)
    })
    .then((response) => {
        if (response.ok) {               
            clearVerifiedEmail(); 
            loading.value = false; 
            alert("Η αλλαγή κωδικού έγινε με επιτυχία!"); 
          
            router.push({ name: 'login'});
        }else {
            console.log("Bad request");
            error.value = true;
            loading.value = false;
        }
    })
    .catch((err) => {
        console.log("error => " + err);
        error.value = true;
        loading.value = false;
    });
    console.log("After fetching");
}
onBeforeRouteLeave(() => {
    console.log("Before leaving");
    clearVerifiedEmail();
})
</script>

<template>
    <main>
        <div class="container-fluid d-flex flex-column">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <b-overlay :show="loading">
                        <div class="card mt-5">
                            <div class="card-body">
                                <h2 class="display-6"><b>Αλλαγή συνθηματικού</b></h2>
                                <hr />
                                <p class="lead mb-4">Τοποθετήστε το νέο σας συνθηματικό παρακάτω.</p>
                                
                                <div v-if="error" class="row">
                                    <div class="alert alert-danger" role="alert">
                                        Αποτυχία αλλαγής συνθηματικού!
                                    </div>
                                </div>

                                <form>
                                    <div class="col-5 mx-auto mb-3">
                                        <label for="password" class="mb-1 col-6 col-form-label col-form-label-lg">Νέο συνθηματικό</label>
                                        <div class="input-group flex-nowrap">
                                            <input
                                                v-model="changePasswordData.password"
                                                class="form-control form-control-lg"
                                                id="password"
                                                :on-change="passwordSecurity()"                                         
                                                :type="showPassword ? 'text' : 'password'"                                                
                                                maxlength="30" 
                                            />    
                                            <button @click.prevent="showPassword = !showPassword" class="input-group-text"><img :src="showPassword ? invisibleLogo : eyeLogo"></button>
                                        </div>                                
                                        <div v-for="error in v$.password.$errors" :key="error.$uid" class="text-start error-msg">{{ error.$message }}</div>    
                                        <div class="text-start" style="font-size: 15px;">
                                            <img :src="passwordLogo"/> {{ passwordMessage }}
                                        </div>                              
                                    </div>

                                    <div class="col-5 mx-auto mb-5">
                                        <label for="confirm" class="mb-1 col-9 col-form-label col-form-label-lg">Επιβεβαίωση νέου συνθηματικού</label>
                                        <input
                                            v-model="changePasswordData.confirm"
                                            class="form-control form-control-lg"
                                            :type="showPassword ? 'text' : 'password'" 
                                            id="confirm"
                                        />    
                                        <div v-for="error in v$.confirm.$errors" :key="error.$uid" class="text-start error-msg">{{ error.$message }}</div>                                
                                    </div>

                                    <div class="d-flex col-6 mx-auto mt-4 justify-content-around">
                                        <RouterLink :to="{ name: 'login' }" class="btn btn-outline-blue btn-lg">Ακύρωση</RouterLink>                                        
                                        <button
                                            @click="onFormSubmit"
                                            type="button"
                                            class="btn btn-blue btn-lg">
                                            Αλλαγή
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>    
                    </b-overlay>
                </div>
            </div>
        </div>
    </main>                       
</template>