<script setup>
import { ref, computed, reactive } from 'vue'; 
import { useRouter, RouterLink } from 'vue-router';
import { BOverlay } from 'bootstrap-vue-next';
import useVuelidate from '@vuelidate/core';
import { required, email, sameAs, minLength, alpha, decimal, helpers, maxLength, minValue } from '@vuelidate/validators';
import protectDanger from '@/assets/images/password/danger.png';
import protectMedium from '@/assets/images/password/medium.png';
import protectSecure from '@/assets/images/password/secure.png';
import eyeLogo from '@/assets/view-20.png';
import invisibleLogo from '@/assets/invisible-24.png';
import GoBackButton from '@/components/GoBackButton.vue';

const router = useRouter();

const loading = ref(false);
const error = ref(null);

const formData = reactive({
    "username": "",
    "password": "",
    "email": "",
    "confirm": "",
    "firstName": "",
    "lastName": "",
    "address": "",
    "afm": "",
    "phoneNumber": "",
});
const rules = computed(() => {
    return {
        username: { 
            required: helpers.withMessage("Το πεδίο είναι υποχρεωτικό", required),
            minLength: helpers.withMessage("Το όνομα χρήστη πρέπει να είναι τουλάχιστον 4 χαρακτήρων", minLength(4))
        },
        password: { required: helpers.withMessage("Το πεδίο είναι υποχρεωτικό", required) },
        email: {
            required: helpers.withMessage("Το πεδίο είναι υποχρεωτικό", required),
            email: helpers.withMessage("Εισάγεται έγκυρη διεύθυνση email", email)
        },
        confirm: { 
            sameAs: helpers.withMessage("Το συνθηματικό δεν ταιριάζει", sameAs(formData.password)),
        },
        firstName: { 
            required: helpers.withMessage("Το πεδίο είναι υποχρεωτικό", required),
            alpha: helpers.withMessage("Επιτρέπονται μόνο γράμματα της αλφαβήτου", alpha)
        },
        lastName: { 
            required: helpers.withMessage("Το πεδίο είναι υποχρεωτικό", required),
            alpha: helpers.withMessage("Επιτρέπονται μόνο γράμματα της αλφαβήτου", alpha)
        },
        address: { required: helpers.withMessage("Το πεδίο είναι υποχρεωτικό", required) },
        afm: { 
            required: helpers.withMessage("Το πεδίο είναι υποχρεωτικό", required),
            decimal: helpers.withMessage("Επιτρέπονται μόνο αριθμοί", decimal),
            minLength: helpers.withMessage("Ο αριθμός δεν είναι ρεαλιστικός", minLength(9))
        },
        phoneNumber: { 
            required: helpers.withMessage("Το πεδίο είναι υποχρεωτικό", required),
            decimal: helpers.withMessage("Επιτρέπονται μόνο αριθμοί", decimal),
            minValue: helpers.withMessage("Ο αριθμός δεν είναι ρεαλιστικός", minValue(6900000000)),
            maxLength: helpers.withMessage("Ο αριθμός είναι πολύ μεγάλος", maxLength(10))
        }
    }; 
});
const v$ = useVuelidate(rules, formData);

const forbidChars = () => {
    if (formData.phoneNumber != '') {
       formData.phoneNumber = formData.phoneNumber.replace(/\D/g, "");
    }
}

const dataToUpperCase = () => {
    formData.firstName = formData.firstName.toUpperCase();
    formData.lastName = formData.lastName.toUpperCase();
    formData.address = formData.address.toUpperCase();
};

const showPassword = ref(false);

const passwordLogo = ref(null);
const passwordMessage = ref(null);
const passwordLength = ref(null);

const passwordSecurity = () => {
    passwordLength.value = formData.password.length;
    if (passwordLength.value <= 4) {
        passwordLogo.value = protectDanger;
        passwordMessage.value = "Αδύναμο συνθηματικό";
    }else if (passwordLength.value <= 7) {
        passwordLogo.value = protectMedium;
        passwordMessage.value = "Μέτρια-ασφαλές συνθηματικό";
    }else {
        passwordLogo.value = protectSecure;
        passwordMessage.value = "Ασφαλές συνθιματικό";
    }
};


const onFormSubmit = async () => {
    const result = await v$.value.$validate();
    loading.value = ref(true);

    if (!result) {
        loading.value = false;
        return;
    }
    fetch('http://localhost:8080/api/auth/signup', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(formData)
    })
    .then((response) => {
        if (response.ok) {
            response.json().then((data) => {
                error.value = false;
                router.push({ name: 'success-signup' });
            });
        }else {
            response.json().then((data) => {
                console.log(data);
                error.value = data;                
            });
            error.value = response.js;
        }
    })
    .catch((err) => {
        console.log(err);
        error.value = true;
    })
    .finally(() => {
        loading.value = false;
    });  
};
</script>                                    

<template>
    <main>
        <div class="container-fluid pt-3 bg-body-tertiary">
            <div class="row">
                <a class="col-auto">
                    <RouterLink :to=" { name: 'home' } "> Αρχική </RouterLink>
                </a>
                <p class="col-auto">></p>
                <a class="col-auto">
                    <RouterLink :to=" { name: 'login' } "> Είσοδος </RouterLink>
                </a>
                <p class="col-auto">></p>
                <p class="col-auto">Εγγραφή</p>
            </div>
        </div>

        <div class="container-fluid d-flex flex-column">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <b-overlay :show="loading" opacity="0.6"
                                spinner-large
                                spinner-variant="dark"
                                class="">
                        
                    <div class="card mt-3">
                        <div class="card-body lead">
                            <div class="d-flex flex-row align-items-center mb-2">
                                <GoBackButton />
                                <h3 class="display-6"><b>Εγγραφή νέου χρήστη</b></h3>
                            </div>
                            <hr />
                            <h3 class="display-1 mb-4"><b>Διαμόρφωση Στοιχείων Σύνδεσης</b></h3>                  
                            <div v-if="loading" class="row">
                                <div class="spinner-border mx-auto" role="status" >
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </div>  
                                                           
                            <form v-else>
                                <div class="d-flex flex-row mb-4">
                                    <div class="col-5 mx-auto">
                                        <label for="username" class="col-5 col-form-label col-form-label-lg">Όνομα χρήστη</label>
                                        <div class="col-13">
                                            <input 
                                                v-model="formData.username"
                                                type="text"
                                                class="form-control form-control-lg" 
                                                id="username"   
                                                maxlength="15"  
                                                placeholder="username1"                                     
                                            />
                                            <template v-if="error">
                                                <div v-for="err in error.slice(0,1)" class="text-start error-msg">                                                
                                                    {{ err.message }}
                                                </div>
                                            </template>                                
                                            <div v-for="error in v$.username.$errors" :key="error.$uid" class="text-start error-msg" >{{ error.$message }}</div>                            
                                        </div>
                                    </div>
                                    <div class="col-5 mx-auto">
                                        <label for="email" class="col-5 col-form-label col-form-label-lg">Διεύθυνση e-mail</label>
                                        <div class="col-13">
                                            <input 
                                                v-model="formData.email"
                                                type="text" 
                                                class="form-control form-control-lg"  
                                                id="email"
                                                maxlength="45" 
                                                placeholder="example@email.com"
                                            />
                                            <template v-if="error">
                                                <div v-for="err in error.slice(1,2)" class="text-start error-msg">                                                
                                                    {{ err.message }}
                                                </div>
                                            </template>  
                                            <div v-for="error in v$.email.$errors" :key="error.$uid" class="text-start error-msg">{{ error.$message }}</div> 
                                        </div>
                                    </div>
                                </div>

                                <div class="d-flex flex-row mb-4">
                                    <div class="col-5 mx-auto">
                                        <label for="password" class="col-5 col-form-label col-form-label-lg">Συνθηματικό</label>
                                        <div class="col-13">
                                            <div class="input-group flex-nowrap">
                                                <input                                         
                                                    v-model="formData.password"    
                                                    :on-change="passwordSecurity()"                                         
                                                    :type="showPassword ? 'text' : 'password'"
                                                    class="form-control form-control-lg"  
                                                    id="password" 
                                                    maxlength="30" 
                                                />                                                
                                                <button @click.prevent="showPassword = !showPassword" class="input-group-text"><img :src="showPassword ? invisibleLogo : eyeLogo"></button>
                                            </div>
                                            <div v-for="error in v$.password.$errors" :key="error.$uid" class="text-start error-msg">{{ error.$message }}</div>
                                            <div class="text-start" style="font-size: 15px;">
                                                <img :src="passwordLogo"/> {{ passwordMessage }}
                                            </div>                                            
                                        </div>
                                    </div>
                                    <div class="col-5 mx-auto">
                                        <label for="confirm" class="col-10 col-form-label col-form-label-lg">Επιβεβαίωση Συνθηματικού</label>
                                        <div class="col-13">
                                            <input                                        
                                                v-model="formData.confirm"
                                                :type="showPassword ? 'text' : 'password'"
                                                class="form-control form-control-lg"  
                                                id="confirm" 
                                                maxlength="30" 
                                            />
                                            <div v-for="error in v$.confirm.$errors" :key="error.$uid" class="text-start error-msg">{{ error.$message }}</div> 
                                        </div>
                                    </div>
                                </div>
                                                            
                                <h3 class="display-1 mb-4"><b>Διαμόρφωση Προσωπικών Στοιχείων</b></h3>
                                <div class="d-flex flex-row mb-4">
                                    <div class="col-5 mx-auto">
                                        <label for="firstName" class="col-5 col-form-label col-form-label-lg">Όνομα:</label>
                                        <div class="col-13">
                                            <input 
                                                placeholder="Georgios"
                                                v-model="formData.firstName"
                                                type="text" 
                                                class="form-control form-control-lg" 
                                                id="firstName"
                                                maxlength="20" 
                                                :on-change="dataToUpperCase()"                                            
                                            />
                                            <div v-for="error in v$.firstName.$errors" :key="error.$uid" class="text-start error-msg">{{ error.$message }}</div>
                                        </div>
                                    </div>
                                    <div class="col-5 mx-auto">
                                        <label for="lastName" class="col-5 col-form-label col-form-label-lg">Επώνυμο:</label>
                                        <div class="col-13">
                                            <input 
                                                placeholder="Apostolidis"
                                                v-model="formData.lastName"
                                                type="text" 
                                                class="form-control form-control-lg" 
                                                id="lastName"
                                                maxlength="25" 
                                                :on-change="dataToUpperCase()"
                                            />
                                            <div v-for="error in v$.lastName.$errors" :key="error.$uid" class="text-start error-msg">{{ error.$message }}</div>
                                        </div>
                                    </div>                                
                                </div>                                            

                                <div class="d-flex flex-row mb-4">
                                    <div class="col-5 mx-auto">
                                        <label for="afm" class="col-5 col-form-label col-form-label-lg">Α.Φ.Μ.:</label>
                                        <div class="col-13">
                                            <input 
                                                placeholder="123456789"
                                                v-model="formData.afm"
                                                type="text" 
                                                class="form-control form-control-lg" 
                                                id="afm"
                                                maxlength="9" 
                                            />
                                            <div v-for="error in v$.afm.$errors" :key="error.$uid" class="text-start error-msg">{{ error.$message }}</div>
                                        </div>
                                    </div>
                                    <div class="col-5 mx-auto"> 
                                        <label for="phoneNumber" class="col-5 col-form-label col-form-label-lg">Κινητό τηλέφωνο:</label>
                                        <div class="col-13 input-group">
                                            <span class="input-group-text">+30</span>
                                            <input 
                                                placeholder="6912345678"
                                                v-model="formData.phoneNumber"
                                                type="text" 
                                                class="form-control form-control-lg" 
                                                id="phoneNumber"
                                                maxlength="10" 
                                                :on="forbidChars()"
                                            />
                                        </div>
                                        <div v-for="error in v$.phoneNumber.$errors" :key="error.$uid" class="text-start error-msg">{{ error.$message }}</div>
                                    </div>
                                </div>
                                
                                <div class="d-flex flex-row mb-5">  
                                    <div class="col-5 mx-auto">                                
                                        <label for="address" class="col-5 col-form-label col-form-label-lg">Διεύθυνση:</label>
                                        <div class="col-13">
                                            <input 
                                                placeholder="Omirou 9, Τavros"
                                                v-model="formData.address"
                                                type="text" 
                                                class="form-control form-control-lg" 
                                                id="address"
                                                :on-change="dataToUpperCase()"
                                            />
                                            <div v-for="error in v$.address.$errors" :key="error.$uid" class="text-start error-msg">{{ error.$message }}</div>
                                        </div>
                                    </div>  
                                    <div class="col-5 mx-auto"></div>
                                </div>
                                         
                                <div class="d-grid mx-auto col-3">
                                    <button 
                                        @click="onFormSubmit"
                                        type="button" 
                                        class="btn btn-outline-blue btn-lg">
                                        Εγγραφή
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    </b-overlay>
                </div>
            </div>
        </div>
    </main>
</template>