<script setup>
import { RouterLink } from 'vue-router';

</script>

<template>
    <main>
        <div class="container-fluid pt-3 bg-body-tertiary">
            <div class="row">
                <a class="col-auto">
                    <RouterLink :to=" { name: 'home' } "> Αρχική </RouterLink>
                </a>
                <p class="col-auto">></p>
                <a class="col-auto">
                    <RouterLink :to=" { name: 'login' } "> Είσοδος </RouterLink>
                </a>
                <p class="col-auto">></p>
                <p class="col-auto">Εγγραφή</p>
            </div>
        </div>
        <div class="container-fluid d-flex flex-column">
            <div class="row justify-content-center">
                <div class="col-xl-4">
                    <div class="card text-center mt-5">
                        <div class="card-body">
                            <h3 class="display-6 mb-5"><b>Η εγγραφή σας έγινε με επιτυχία!</b></h3>

                            <div class="flex-row d-flex justify-content-evenly">
                                <div class="col-lg-3">
                                    <RouterLink :to="{ name: 'home'}" class="btn btn-lg btn-outline-blue">Αρχική</RouterLink>
                                </div>
                                <div class="col-lg-3">
                                    <RouterLink :to="{ name: 'login'}" class="btn btn-lg btn-blue">Είσοδος</RouterLink>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>