<template>
    <main style="margin-top: 5%;"> 
        <div class="container-fluid d-flex flex-column">
            <div class="row justify-content-center">
                <div class="col-xl-5">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="display-5 mb-5"><b>:( Ουπς...</b></h2>
                            <h2 class="display-6">Δεν έχετε πρόσβαση στη σελίδα που προσπαθήσατε να εισέλθεται!</h2>
                            <hr />
                            <h2 class="display-6 mb-5"><i>Θέλετε να ανακατευθυνθείτε στην αρχική;</i></h2>
                            <div class="d-grid col-3 mx-auto">
                                <RouterLink :to="{ name: 'home' }" class="btn btn-blue">Αρχική</RouterLink>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>