<script setup>
import GoBackButton from '@/components/GoBackButton.vue'; 
import { RouterLink } from 'vue-router';
</script>

<template>
    <main>
        <div class="container-fluid pt-3 bg-body-tertiary">
            <div class="row">
                <a class="col-auto">
                    <RouterLink :to=" { name: 'home' } "> Αρχική </RouterLink>
                </a>
                <p class="col-auto">></p>
                <p class="col-auto">Υπηρεσίες</p>
            </div>
        </div>

        <div class="container-fluid d-flex flex-column">
            <div class="row justify-content-center">
                <div class="col-xl-5">
                    <div class="card mt-3">
                        <div class="card-body lead">
                            <div class="d-flex flex-row align-items-center mb-3">
                                <GoBackButton />
                                <h2 class="display-6"><b>Αγροτική Καλλιέργεια</b></h2>
                            </div>
                            <hr />
                            <p><b>Κάνοντας "κλικ" στο κουμπί παρακάτω θα έχετε πρόσβαση στο στάδιο υποβολής της φόρμας για αγροτική αποζημίωση.
                                Θα χρειαστεί να παρέχεται τα απαραίτητα δεδομένα για την ολοκλήρωση της και τη σωστή επεξεργασία της.</b>
                            </p>
                            <p class="mb-2"><b><i>Απαραίτητα δεδομένα:</i></b></p>
                            <ul>
                                <li>
                                    <p>Έκταση αγροτεμαχίου</p>
                                </li>
                                <li>
                                    <p>Μέση παραγωγική διαδικασία</p>
                                </li>
                                <li>
                                    <p>Τιμή ανά μονάδα προϊόντος</p>
                                </li>
                                <li>
                                    <p>Τοποθεσία καλλιέργειας</p>
                                </li>
                            </ul>
                            <div class="d-grid col-3 mx-auto mb-2 mt-4">
                                <RouterLink :to="{ name: 'farmer-submission' }" class="btn btn-lg btn-blue">Κάνε αίτηση</RouterLink>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container mb-4 line-breaker"></div>

            <div class="row justify-content-center">
                <div class="col-xl-5">
                    <div class="card">
                        <div class="card-body lead">
                            <h2 class="display-6 mb-4"><b>Κτηνοτροφία</b></h2>
                            <hr />
                            <p>
                                <b>Κάνοντας "κλικ" στο κουμπί παρακάτω θα έχετε πρόσβαση στο στάδιο υποβολής της φόρμας για κτηνοτροφική αποζημίωση.
                                    Θα χρειαστεί να παρέχεται τα απαραίτητα δεδομένα για την ολοκλήρωση της και τη σωστή επεξεργασία της.
                                </b>
                            </p>
                            <p class="mb-2"><b><i>Απαραίτητα δεδομένα:</i></b></p>
                            <ul>
                                <li>
                                    <p>Αριθμός ζημιωθέντων ζώων αυτοτελούς εκτροφής</p>
                                </li>
                                <li>
                                    <p>Συνολικός αριθμός ζώων αυτοτελούς εκτροφής</p>
                                </li>
                                <li>
                                    <p>Ποσοστό κάλυψης ζημιών</p>
                                </li>
                                <li>
                                    <p>Συντελεστής αποζημίωσης</p>
                                </li>
                                <li>
                                    <p>Τιμή ανά μονάδα προϊόντος</p>
                                </li>
                                <li>
                                    <p>Υπολειμματική αξία</p>
                                </li>
                            </ul>
                            <div class="d-grid col-3 mx-auto mb-2 mt-4">
                                <RouterLink :to="{ name: 'breeder-submission' }" class="btn btn-lg btn-blue">Κάνε αίτηση</RouterLink>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>