<script setup>
import { ref, computed } from 'vue';
import { RouterLink } from 'vue-router';
import { remoteDataAccess } from '@/composables/remotaDataAccess';
import { useApplicationStore } from '@/stores/application.js';
import useVuelidate from '@vuelidate/core';
import { required, minValue, maxValue, integer, helpers } from '@vuelidate/validators';
import GoBackButton from '@/components/GoBackButton.vue';
import { BOverlay } from 'bootstrap-vue-next';
import { useRouter } from 'vue-router';


const router = useRouter();

const applicationStorage = useApplicationStore();

const formData = ref({
    "killedAnimals": "",
    "totalAnimals": "",
    "pricePerUnit": ""
});
const rules = computed(() => {
    return {
        killedAnimals: { 
            required: helpers.withMessage("Το πεδίο είναι υποχρεωτικό", required),
            minValue: helpers.withMessage("Η τιμή πρέπει να είναι θετική", minValue(1)),
            maxValue: helpers.withMessage("Η τιμή είναι πολύ μεγάλη", maxValue(20000)),
            integer: helpers.withMessage("Η τιμή πρέπει να είναι ακέραιος", integer)
        },
        totalAnimals: { 
            required: helpers.withMessage("Το πεδίο είναι υποχρεωτικό", required),
            minValue: helpers.withMessage("Η τιμή πρέπει να είναι θετική", minValue(1)),
            maxValue: helpers.withMessage("Η τιμή είναι πολύ μεγάλη", maxValue(20000)),
            integer: helpers.withMessage("Η τιμή πρέπει να είναι ακέραιος", integer)
        },
        pricePerUnit: { 
            required: helpers.withMessage("Το πεδίο είναι υποχρεωτικό", required),
            minValue: helpers.withMessage("Η τιμή πρέπει να είναι θετική", minValue(0.01)),
            maxValue: helpers.withMessage("Η τιμή είναι πολύ μεγάλη", maxValue(99999.99))
        }
    }; 
});
const v$ = useVuelidate(rules, formData);

const forbidChars = () => {
    if (formData.value.killedAnimals != '') {
       formData.value.killedAnimals = formData.value.killedAnimals.replace(/\D/g, "");
    }
    if (formData.value.totalAnimals != '') {
        formData.value.totalAnimals = formData.value.totalAnimals.replace(/\D/g, "");
    }
}
const correctPriceField = () => {
    if (formData.value.pricePerUnit == '') {
        return;
    }
    // Erase a non digit char
    formData.value.pricePerUnit = formData.value.pricePerUnit.replace(/[a-zA-Z]/g, "");
    // Replace semicolon with dot
    formData.value.pricePerUnit = formData.value.pricePerUnit.replace(",", ".");
    // Then check if the are more than one dots and remove the last char of the string which will be the last added doubled dot
    const colonAppearencesList = formData.value.pricePerUnit.match(/\./g);
    if (colonAppearencesList == null) {
        return;
    }
    const colonAppearences = colonAppearencesList.length;
    if (colonAppearences > 1) {
        formData.value.pricePerUnit = formData.value.pricePerUnit.substring(0, formData.value.pricePerUnit.length - 1);
        return;
    }
    const floatingPart = formData.value.pricePerUnit.split('.');
    if (floatingPart[1].length > 2) {
        formData.value.pricePerUnit = formData.value.pricePerUnit.substring(0, formData.value.pricePerUnit.length - 1);
    }
};

const auth = ref(true);
const url = ref('http://localhost:8080/services/breeder/new/' + applicationStorage.userData.email);    
const method = ref("POST");

const { loading, error, performRequest } = remoteDataAccess(url, auth, method, formData);

const onFormSubmit = async() => {
    const result = await v$.value.$validate();
    if (result) {
        await performRequest();
        if (error.value == false) {
            alert("Η αίτηση σας καταχωρήθηκε με επιτυχία!");

            router.push({ name: 'submission_menu' });
        }
    }
};
</script>

<template>
    <main>
        <div class="container-fluid pt-3 mb-5 bg-body-tertiary">
            <div class="row">
                <a class="col-auto">
                    <RouterLink :to=" { name: 'home' } "> Αρχική </RouterLink>            
                </a>
                <p class="col-auto">></p>
                <a class="col-auto">
                    <RouterLink :to=" { name: 'submission_menu' } "> Υπηρεσίες</RouterLink>
                </a> 
                <p class="col-auto">></p>
                <p class="col-auto">Αίτηση Ζωικού Κεφαλαίου</p>
            </div>
        </div>
        <div class="container-fluid d-flex justify-content-center">
            <div class="col-lg-5">
                <b-overlay :show="loading">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-row align-items-center mb-3">
                                <GoBackButton />
                                <h2 class="display-6"><b>Αίτηση Ζωικού Κεφαλαίου</b></h2>                                
                            </div>
                            <hr />
                            <p class="lead">Υποβάλεται αίτηση κτηνοτροφίας συμπληρώνοντας τα παρακάτω πεδία και κάνοντας κλικ στο κουμπί υποβολής.</p>
                       
                            <div class="row mx-auto">
                                <div v-if="error" class="alert alert-danger" role="alert">
                                    Δυστυχώς κάτι πήγε στραβά. Προσπαθήστε ξανά αργότερα!
                                </div>
                            </div>
                            <form>
                                <div class="col-5 mx-auto mb-3">
                                    <label for="numberOfKilledAnimals" class="col-form-label col-form-label-lg">Αριθμός ζημιωθέντων ζώων εκτροφής:</label>
                                    <div class="input-group">
                                        <input 
                                            v-model="formData.killedAnimals"
                                            type="text" 
                                            maxlength="5"
                                            class="form-control form-control-lg" 
                                            id="numberOfKilledAnimals"
                                            placeholder="Μέγιστη τιμή: 20000"
                                            :on="forbidChars()"
                                        />
                                        <div class="input-group-text col-3 justify-content-center" style="font-size: 0.9em;">μονάδες</div>                                    
                                    </div>
                                    <div v-for="error in v$.killedAnimals.$errors" :key="error.$uid" class="text-start error-msg" >{{ error.$message }}</div> 
                                </div>
                                <div class="col-5 mx-auto mb-3">
                                    <label for="totalAnimals" class="col-form-label col-form-label-lg">Συνολικός αριθμός ζώων εκτροφής:</label>
                                    <div class="input-group">
                                        <input 
                                            v-model="formData.totalAnimals"
                                            type="text" 
                                            maxlength="5"
                                            class="form-control form-control-lg" 
                                            id="totalAnimals"
                                            placeholder="Μέγιστη τιμή: 20000"
                                            :on="forbidChars()"
                                        />
                                        <div class="input-group-text col-3 justify-content-center" style="font-size: 0.9em;">μονάδες</div>                                    
                                    </div>
                                    <div v-for="error in v$.totalAnimals.$errors" :key="error.$uid" class="text-start error-msg" >{{ error.$message }}</div> 
                                </div>
                                <div class="col-5 mx-auto mb-5">
                                    <label for="pricePerUnit" class="col-form-label col-form-label-lg">Τιμή ανά μονάδα προϊόντος:</label>
                                    <div class="input-group">
                                        <input 
                                            v-model="formData.pricePerUnit"
                                            type="text" 
                                            maxlength="8"
                                            class="form-control form-control-lg" 
                                            id="pricePerUnit"
                                            placeholder="Μέγιστη τιμή: 99999.99"
                                            :on="correctPriceField()"
                                        />   
                                        <div class="input-group-text col-3 justify-content-center" style="font-size: 1em;">€</div>                                   
                                    </div>
                                    <div v-for="error in v$.pricePerUnit.$errors" :key="error.$uid" class="text-start error-msg" >{{ error.$message }}</div>
                                </div>
                                <div class="d-grid col-2 mx-auto mb-2">
                                    <button 
                                        @click="onFormSubmit"
                                        type="button" 
                                        class="btn btn-lg btn-outline-blue">
                                        Υποβολή
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </b-overlay>
            </div>
        </div>
    </main>
</template>