<script setup>
import { ref,computed } from 'vue';
import { RouterLink } from 'vue-router';
import useVuelidate from '@vuelidate/core';
import { required, minValue, maxValue, integer, helpers } from '@vuelidate/validators';
import { remoteDataAccess } from '@/composables/remotaDataAccess';
import { useApplicationStore } from '@/stores/application.js'
import GoBackButton from '@/components/GoBackButton.vue';
import { BOverlay } from 'bootstrap-vue-next';
import router from '@/router';

const applicationStorage = useApplicationStore();

const formData = ref({
    "fieldArea": "",
    "averageProduction": "",
    "description": ""
});
const rules = computed(() => {
    return {
        fieldArea: { 
            required: helpers.withMessage("Το πεδίο είναι υποχρεωτικό", required),
            minValue: helpers.withMessage("Η τιμή πρέπει να είναι θετική", minValue(1)),
            maxValue: helpers.withMessage("Η τιμή είναι πολύ μεγάλη", maxValue(20000)),
            integer: helpers.withMessage("Η τιμή πρέπει να είναι ακέραιος", integer)
        },
        averageProduction: { 
            required: helpers.withMessage("Το πεδίο είναι υποχρεωτικό", required),
            minValue: helpers.withMessage("Η τιμή πρέπει να είναι θετική", minValue(0.01)),
            maxValue: helpers.withMessage("Η τιμή είναι πολύ μεγάλη", maxValue(9999.99))
        },
        description: { required: helpers.withMessage("Το πεδίο είναι υποχρεωτικό", required) }
    }; 
});
const v$ = useVuelidate(rules, formData);

const forbidChars = () => {
    if (formData.value.fieldArea != '') {
       formData.value.fieldArea = formData.value.fieldArea.replace(/\D/g, "");
    }
}

const correctQuantityField = () => {
    if (formData.value.averageProduction == '') {
        return;
    }
    // Erase a non digit char
    formData.value.averageProduction = formData.value.averageProduction.replace(/[a-zA-Z]/g, "");
    // Replace semicolon with dot
    formData.value.averageProduction = formData.value.averageProduction.replace(",", ".");
    // Then check if the are more than one dots and remove the last char of the string which will be the last added doubled dot
    const colonAppearencesList = formData.value.averageProduction.match(/\./g);
    if (colonAppearencesList == null) {
        return;
    }
    const colonAppearences = colonAppearencesList.length;
    if (colonAppearences > 1) {
        formData.value.averageProduction = formData.value.averageProduction.substring(0, formData.value.averageProduction.length - 1);
        return;
    }
    const floatingPart = formData.value.averageProduction.split('.');
    if (floatingPart[1].length > 2) {
        formData.value.averageProduction = formData.value.averageProduction.substring(0, formData.value.averageProduction.length - 1);
    }
};

const auth = ref(true);
const url = ref('http://localhost:8080/services/farmer/new/' + applicationStorage.userData.email);    
   
const method = ref("POST");
const { loading, error, performRequest } = remoteDataAccess(url, auth, method, formData);

const onFormSubmit = async() => {
    const result = await v$.value.$validate();
    if (result) {
        await performRequest();
        if (error.value == false) {
            alert("Η αίτηση σας καταχωρήθηκε με επιτυχία!");

            router.push({ name: 'submission_menu' });
        }
    }
};
</script>

<template>
    <main>
        <div class="container-fluid pt-3 mb-5 bg-body-tertiary">
            <div class="row">
                <a class="col-auto">
                    <RouterLink :to=" { name: 'home' } "> Αρχική </RouterLink>            
                </a>
                <p class="col-auto">></p>
                <a class="col-auto">
                    <RouterLink :to=" { name: 'submission_menu' } "> Υπηρεσίες</RouterLink>
                </a> 
                <p class="col-auto">></p>
                <p class="col-auto">Αίτηση Καλλιέργειας</p>
            </div>
        </div>
        <div class="container-fluid d-flex justify-content-center">
            <div class="col-xl-5">
                <b-overlay :show="loading">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-row align-items-center mb-3">
                                <GoBackButton />
                                <h2 class="display-6"><b>Αίτηση Καλλιέργειας</b></h2>
                            </div>
                            <hr />
                            <p class="lead">Υποβάλεται αίτηση καλλιέργειας συμπληρώνοντας τα παρακάτω πεδία και κάνοντας κλικ στο κουμπί υποβολής.</p>
                            <div class="row mx-auto">
                                <div v-if="error" class="alert alert-danger" role="alert">
                                    Δυστυχώς κάτι πήγε στραβά. Προσπαθήστε ξανά αργότερα!
                                </div>
                            </div>
                            <form>
                                <div class="col-5 mx-auto mb-3">
                                    <label for="fieldArea" class="mb-1 col-form-label col-form-label-lg">Έκταση αγροτεμαχίου (σε στρέμματα):</label>
                                    <div class="input-group">
                                        <input 
                                            v-model="formData.fieldArea"
                                            type="text"                                             
                                            class="form-control form-control-lg" 
                                            id="fieldArea"
                                            maxlength="5"
                                            placeholder="Μέγιστη τιμή: 20000"
                                            :on="forbidChars()"
                                        />
                                        <div class="input-group-text col-3 justify-content-center" style="font-size: 0.8em;">στρέμματα</div>
                                    </div>
                                    <div v-for="error in v$.fieldArea.$errors" :key="error.$uid" class="text-start error-msg" >{{ error.$message }}</div> 
                                </div>
                                <div class="col-5 mx-auto mb-3">
                                    <label for="averageProduction" class="mb-1 col-form-label col-form-label-lg">Μέση παραγωγή (σε κιλά):</label>
                                    <div class="input-group">
                                        <input 
                                            v-model="formData.averageProduction"
                                            type="text" 
                                            class="form-control form-control-lg" 
                                            id="averageProduction"
                                            maxlength="7"                                            
                                            placeholder="Μέγιστη τιμή: 9999.99"
                                            :on="correctQuantityField()"
                                        />
                                        <div class="input-group-text col-3 justify-content-center" style="font-size: 1em;">κιλά</div>
                                    </div>
                                    <div v-for="error in v$.averageProduction.$errors" :key="error.$uid" class="text-start error-msg" >{{ error.$message }}</div>                                 
                                </div>
                                <div class="col-5 mx-auto mb-5">
                                    <label for="description" class="mb-1 col-form-label col-form-label-lg">Περιγραφή:</label>
                                    <textarea 
                                        v-model="formData.description"
                                        class="form-control form-control-lg" 
                                        id="description"
                                        maxlength="150"
                                        rows="5"
                                        placeholder="π.χ. Σύντομη περιγραφή - Παρατηρήσεις"
                                    ></textarea>
                                    <div v-for="error in v$.description.$errors" :key="error.$uid" class="text-start error-msg" >{{ error.$message }}</div>                            
                                </div>
                                <div class="d-grid col-2 mx-auto mb-2">
                                    <button 
                                        @click="onFormSubmit"
                                        type="button" 
                                        class="btn btn-lg btn-outline-blue">
                                        Υποβολή
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </b-overlay>
            </div>
        </div>
    </main>
</template>