<script setup>
import TableSubmissions from '@/components/TableSubmissions.vue';
import TableBreeders from '@/components/TableBreeder.vue';

</script>

<template>
    <main>
        <div class="container-fluid pt-3 bg-body-tertiary">
            <div class="row">
                <a class="col-auto">
                    <RouterLink :to=" { name: 'home' } "> Αρχική </RouterLink>
                </a>
                <p class="col-auto">></p>
                <a class="col-auto">
                    <RouterLink :to=" { name: 'farmer_profile' } "> Το Προφίλ μου </RouterLink>
                </a>
                <p class="col-auto">></p>
                <p class="col-auto">Οι αιτήσεις μου</p>
            </div>
        </div>  
       
        <div class="container-fluid d-flex flex-column">
            <div class="row justify-content-center">
                <div class="col-xl-7 mb-2">
                    <div class="card text-center mt-3">
                        <div class="card-body">
                            
                            <TableSubmissions :userRole="'ROLE_CITIZEN'"></TableSubmissions>

                        </div>
                    </div>
                </div>
            </div>
            <div class="container mb-4 line-breaker"></div>
            <div class="row justify-content-center">
                <div class="col-xl-7 mb-4">
                    <div class="card text-center">
                        <div class="card-body">
                            
                            <TableBreeders :userRole="'ROLE_CITIZEN'"></TableBreeders>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>