<script setup>
import { ref, computed, onMounted } from 'vue';
import { useRoute } from 'vue-router';
import { remoteDataAccess } from '@/composables/remotaDataAccess';
import useVuelidate from '@vuelidate/core';
import { maxLength, minValue, numeric, integer, helpers, maxValue } from '@vuelidate/validators';
import GoBackButton from '@/components/GoBackButton.vue';
import { BOverlay } from 'bootstrap-vue-next';

const route = useRoute();

const formData = ref({
    "killedAnimals": "",
    "totalAnimals": "",
    "pricePerUnit": ""
});
const rules = computed(() => {
    return {
        killedAnimals: { 
            minValue: helpers.withMessage("Η τιμή πρέπει να είναι θετική", minValue(1)),
            maxValue: helpers.withMessage("Η τιμή είναι πολύ μεγάλη", maxValue(20000)),
            maxLength: helpers.withMessage("Η τιμή είναι αρκετά μεγάλη", maxLength(8)),
            integer: helpers.withMessage("Η τιμή πρέπει να είναι ακέραιος", integer)
        },
        totalAnimals: { 
            minValue: helpers.withMessage("Η τιμή πρέπει να είναι θετική", minValue(0.01)),
            maxValue: helpers.withMessage("Η τιμή είναι πολύ μεγάλη", maxValue(20000)),
            integer: helpers.withMessage("Η τιμή πρέπει να είναι ακέραιος", integer)
        },
        pricePerUnit: {
            minValue: helpers.withMessage("Η τιμή πρέπει να είναι θετική", minValue(0.01)),
            maxValue: helpers.withMessage("Η τιμή είναι πολύ μεγάλη", maxValue(99999.99))
        }
    }; 
});
const v$ = useVuelidate(rules, formData);

const forbidChars = () => {
    if (formData.value.killedAnimals != '') {
       formData.value.killedAnimals = formData.value.killedAnimals.replace(/\D/g, "");
    }
    if (formData.value.totalAnimals != '') {
        formData.value.totalAnimals = formData.value.totalAnimals.replace(/\D/g, "");
    }
}

const correctPriceField = () => {
    if (formData.value.pricePerUnit == '') {
        return;
    }
    // Erase a non digit char
    formData.value.pricePerUnit = formData.value.pricePerUnit.replace(/[a-zA-Z]/g, "");
    // Replace semicolon with dot
    formData.value.pricePerUnit = formData.value.pricePerUnit.replace(",", ".");
    // Then check if the are more than one dots and remove the last char of the string which will be the last added doubled dot
    const colonAppearencesList = formData.value.pricePerUnit.match(/\./g);
    if (colonAppearencesList == null) {
        return;
    }
    const colonAppearences = colonAppearencesList.length;
    if (colonAppearences > 1) {
        formData.value.pricePerUnit = formData.value.pricePerUnit.substring(0, formData.value.pricePerUnit.length - 1);
        return;
    }
    const floatingPart = formData.value.pricePerUnit.split('.');
    if (floatingPart[1].length > 2) {
        formData.value.pricePerUnit = formData.value.pricePerUnit.substring(0, formData.value.pricePerUnit.length - 1);
    }
}

const breederId = ref(null);
const url = computed(() => {
    return 'http://localhost:8080/services/breeder/' + breederId.value;
});
const auth = ref(true);
const method = ref("POST");
const { loading, performRequest } = remoteDataAccess(url, auth, method, formData);

const onFormSubmit = async() => {
    const result = await v$.value.$validate();
    if (result) {
        performRequest();
    }
}
onMounted(() => {
    breederId.value = route.params.breederId;
});
</script>

<template>
    <main>
        <div class="container-fluid pt-3 bg-body-tertiary">
            <div class="row">
                <a class="col-auto">
                    <RouterLink :to=" { name: 'home' } "> Αρχική </RouterLink>
                </a>
                <p class="col-auto">></p>
                <a class="col-auto">
                    <RouterLink :to=" { name: 'farmer_profile' } "> Το Προφίλ μου </RouterLink>
                </a>
                <p class="col-auto">></p>
                <p class="col-auto">
                    <RouterLink :to=" { name: 'my_submissions' } "> Οι αιτήσεις μου </RouterLink>
                </p>
                <p class="col-auto">></p>
                <p class="col-auto">Επεξεργασία Αίτησης</p>
            </div>
        </div>

        <div class="container-fluid d-flex flex-column">
            <div class="row justify-content-center">
                <div class="col-xl-5">
                    <b-overlay :show="loading">
                        <div class="card mt-3">
                            <div class="card-body">
                                <div class="d-flex flex-row align-items-center mb-3">
                                    <GoBackButton />
                                    <h2 class="display-6"><b>Αίτηση Ζωικού Κεφαλαίου</b></h2>
                                </div>
                                <hr />
                                <p class="lead mb-1">Μπορείτε να αλλάξετε τα παρακάτω πεδία της αίτησης σας με αναγνωριστικό: <b>{{ breederId }}</b></p>
                                <p class="lead mb-4"><b><i>*Προσοχή! Πατώντας το κουμπί οι τρέχουσες αλλαγές θα εφαρμοστούν και δεν θα υπάρχουν πλέον οι τιμές της προηγούμενης υποβολής.</i></b></p>                                
                                <form>
                                    <div class="col-5 mb-3 mx-auto">
                                        <label for="killedAnimals" class="col-form-label col-form-label-lg">Αριθμός ζημιωθέντων ζώων αυτοτελούς εκτροφής</label>
                                        <div class="input-group">
                                            <input  
                                                v-model="formData.killedAnimals"
                                                type="text" 
                                                class="form-control form-control-lg" 
                                                maxlength="5"
                                                id="killedAnimals"
                                                placeholder="Μέγιστη τιμή: 20000"
                                                :on="forbidChars()"
                                            />
                                            <div class="input-group-text col-3 justify-content-center" style="font-size: 0.9em;">μονάδες</div>                                    
                                        </div>
                                        <div v-for="error in v$.killedAnimals.$errors" :key="error.$uid" class="text-start error-msg" >{{ error.$message }}</div>
                                    </div>
                                    <div class="col-5 mb-3 mx-auto">
                                        <label for="totalAnimals" class="col-form-label-lg col-form-label">Συνολικός αριθμός ζώων αυτοτελούς εκτροφής</label>
                                        <div class="input-group">
                                            <input 
                                                v-model="formData.totalAnimals"
                                                type="text"
                                                class="form-control form-control-lg" 
                                                maxlength="5"
                                                id="totalAnimals"
                                                placeholder="Μέγιστη τιμή: 20000"
                                                :on="forbidChars()"
                                            />
                                            <div class="input-group-text col-3 justify-content-center" style="font-size: 0.9em;">μονάδες</div>                                    
                                        </div>
                                        <div v-for="error in v$.totalAnimals.$errors" :key="error.$uid" class="text-start error-msg" >{{ error.$message }}</div>
                                    </div>
                                    <div class="col-5 mb-5 mx-auto">
                                        <label for="pricePerUnit" class="col-form-label col-form-label-lg">Τιμή ανά μονάδα προϊόντος</label>
                                        <div class="input-group">
                                            <input 
                                                v-model="formData.pricePerUnit"                                                    
                                                type="text" 
                                                class="form-control form-control-lg" 
                                                id="pricePerUnit"
                                                maxLength="8"
                                                placeholder="Μέγιστη τιμή: 99999.99"
                                                :on="correctPriceField()"
                                            />
                                            <div class="input-group-text col-3 justify-content-center" style="font-size: 1em;">€</div>
                                        </div>
                                        <div v-for="error in v$.pricePerUnit.$errors" :key="error.$uid" class="text-start error-msg" >{{ error.$message }}</div>
                                    </div>              

                                    <div class="d-grid col-3 mx-auto mb-2">
                                        <button 
                                            @click="onFormSubmit"
                                            type="button" 
                                            class="btn btn-lg btn-outline-blue">
                                            Υποβολή
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </b-overlay>
                </div>
            </div>
        </div>
    </main>
</template>