<script setup>
import SubmissionInfo from '@/components/SubmissionInfo.vue';

</script>

<template>
    <main>
        <div class="container-fluid pt-3 bg-body-tertiary">
            <div class="row">
                <a class="col-auto">
                    <RouterLink :to=" { name: 'home' } "> Αρχική </RouterLink>
                </a>
                <p class="col-auto">></p>
                <a class="col-auto">
                    <RouterLink :to=" { name: 'farmer_profile' } "> Το Προφίλ μου </RouterLink>
                </a>
                <p class="col-auto">></p>
                <p class="col-auto">
                    <RouterLink :to=" { name: 'my_submissions' } "> Οι αιτήσεις μου </RouterLink>
                </p>
                <p class="col-auto">></p>
                <p class="col-auto">Αγροτική Αίτηση</p>
            </div>
        </div>
    
        <div class="container-fluid d-flex justify-content-center">
            <div class="col-xl-5 mb-4">
                <div class="card mt-3 text-center">
                    
                    <SubmissionInfo />
                    
                </div>
            </div>
        </div>
    </main>
</template>