<script setup>
import { ref, computed, onMounted } from 'vue';
import { useRoute } from 'vue-router';
import { remoteDataAccess } from '@/composables/remotaDataAccess';
import useVuelidate from '@vuelidate/core';
import { maxLength, minValue, maxValue, numeric, helpers } from '@vuelidate/validators';
import GoBackButton from '@/components/GoBackButton.vue';
import { BOverlay } from 'bootstrap-vue-next';

const route = useRoute();

const formData = ref({
    "fieldArea": "",
    "averageProduction": "",
    "description": ""
});
const rules = computed(() => {
    return {
        fieldArea: { 
            minValue: helpers.withMessage("Η τιμή πρέπει να είναι θετική", minValue(0.01)),
            maxLength: helpers.withMessage("Η τιμή είναι αρκετά μεγάλη", maxLength(8)),
            maxValue: helpers.withMessage("Η τιμή είναι πολύ μεγάλη", maxValue(20000)),
            numeric: helpers.withMessage("Η τιμή πρέπει να είναι αριθμός", numeric)
        },
        averageProduction: { 
            minValue: helpers.withMessage("Η τιμή πρέπει να είναι θετική", minValue(0.01)),
            maxLength: helpers.withMessage("Η τιμή είναι αρκετά μεγάλη", maxLength(8)),
            maxValue: helpers.withMessage("Η τιμή είναι πολύ μεγάλη", maxValue(9999.99)),
            numeric: helpers.withMessage("Η τιμή πρέπει να είναι αριθμός", numeric)
        }
    }; 
});
const v$ = useVuelidate(rules, formData);

const forbidChars = () => {
    if (formData.value.fieldArea != '') {
       formData.value.fieldArea = formData.value.fieldArea.replace(/\D/g, "");
    }
}

const correctPriceField = () => {
    if (formData.value.averageProduction == '') {
        return;
    }
    // Erase a non digit char
    formData.value.averageProduction = formData.value.averageProduction.replace(/[a-zA-Z]/g, "");
    // Replace semicolon with dot
    formData.value.averageProduction = formData.value.averageProduction.replace(",", ".");
    // Then check if the are more than one dots and remove the last char of the string which will be the last added doubled dot
    const colonAppearencesList = formData.value.averageProduction.match(/\./g);
    if (colonAppearencesList == null) {
        return;
    }
    const colonAppearences = colonAppearencesList.length;
    if (colonAppearences > 1) {
        formData.value.averageProduction = formData.value.averageProduction.substring(0, formData.value.averageProduction.length - 1);
        return;
    }
    const floatingPart = formData.value.averageProduction.split('.');
    if (floatingPart[1].length > 2) {
        formData.value.averageProduction = formData.value.averageProduction.substring(0, formData.value.averageProduction.length - 1);
    }
}


const submissionId = ref(null);
const url = computed(() => {
    return 'http://localhost:8080/services/farmer/' + submissionId.value;
});
const auth = ref(true);
const method = ref("POST");
const { loading, performRequest } = remoteDataAccess(url, auth, method, formData);

const onFormSubmit = async() => {
    const result = await v$.value.$validate();
    if (result) {
        performRequest();
    }
}
onMounted(() => {
    submissionId.value = route.params.submissionId;
});
</script>

<template>
    <main>
        <div class="container-fluid pt-3 bg-body-tertiary">
            <div class="row">
                <a class="col-auto">
                    <RouterLink :to=" { name: 'home' } "> Αρχική </RouterLink>
                </a>
                <p class="col-auto">></p>
                <a class="col-auto">
                    <RouterLink :to=" { name: 'farmer_profile' } "> Το Προφίλ μου </RouterLink>
                </a>
                <p class="col-auto">></p>
                <p class="col-auto">
                    <RouterLink :to=" { name: 'my_submissions' } "> Οι αιτήσεις μου </RouterLink>
                </p>
                <p class="col-auto">></p>
                <p class="col-auto">Επεξεργασία Αίτησης</p>
            </div>
        </div>

        <div class="container-fluid d-flex justify-content-center">
            <div class="col-lg-5">
                <b-overlay :show="loading">
                    <div class="card mt-3">
                        <div class="card-body">
                            <div class="d-flex flex-row align-items-center mb-3">
                                <GoBackButton />
                                <h2 class="display-6"><b>Αγροτική Αίτηση</b></h2>
                            </div>
                            <hr />
                            <p class="lead mb-1">Μπορείτε να αλλάξετε τα παρακάτω πεδία της αίτησης σας με αναγνωριστικό: <b>{{ submissionId }}</b></p>
                            <p class="lead mb-4"><i><b>*Προσοχή! Πατώντας το κουμπί οι τρέχουσες αλλαγές θα εφαρμοστούν και δεν θα υπάρχουν πλέον οι τιμές της προηγούμενης υποβολής.</b></i></p>

                            <form>
                                <div class="col-5 mb-3 mx-auto">
                                    <label for="fieldArea" class="col-form-label col-form-label-lg">Έκταση αγροτεμαχίου (σε στρέμματα)</label>
                                    <div class="input-group flex-nowrap">
                                        <input  
                                            v-model="formData.fieldArea"
                                            type="text" 
                                            class="form-control form-control-lg" 
                                            id="fieldArea"
                                            maxlength="8"
                                            placeholder="Μέγιστη τιμή: 20.000"
                                            :on="forbidChars()"
                                        />
                                        <div class="input-group-text col-3 justify-content-center py-0" style="font-size: 0.8em;">στρέμματα</div>
                                    </div>
                                    <div v-for="error in v$.fieldArea.$errors" :key="error.$uid" class="text-start error-msg" >{{ error.$message }}</div>                                  
                                </div>

                                <div class="col-5 mb-3 mx-auto">
                                    <label for="averageProduction" class="col-form-label col-form-label-lg">Μέση παραγωγή σε κιλά</label>
                                    <div class="input-group flex-nowrap">
                                        <input 
                                            v-model="formData.averageProduction"
                                            type="text"
                                            class="form-control form-control-lg" 
                                            id="averageProduction"
                                            maxlength="8"
                                            placeholder="Μέγιστη τιμή: 9999.99"
                                            :on="correctPriceField()"
                                        />
                                        <div class="input-group-text col-3 justify-content-center py-0" style="font-size: 0.8em;">κιλά</div>
                                    </div>
                                    <div v-for="error in v$.averageProduction.$errors" :key="error.$uid" class="text-start error-msg" >{{ error.$message }}</div>                            
                                </div>

                                <div class="col-5 mb-5 mx-auto">
                                    <label for="description" class="col-form-label col-form-label-lg">Περιγραφή</label>                                  
                                    <textarea 
                                        v-model="formData.description"
                                        type="text" 
                                        class="form-control form-control-lg" 
                                        id="description"
                                        maxlength="150"
                                        rows="5"
                                        placeholder="π.χ. Σύντομη περιγραφή - Παρατηρήσεις"
                                    ></textarea>
                                </div>

                                <div class="d-grid col-3 mx-auto mb-2">
                                    <button 
                                        @click="onFormSubmit"
                                        type="button" 
                                        class="btn btn-lg btn-outline-blue">
                                        Υποβολή
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </b-overlay>
            </div>
        </div>
    </main>
</template>