<script setup>
import { onMounted, ref, computed } from 'vue';
import { useRouter, useRoute } from 'vue-router';
import { remoteDataAccess } from '@/composables/remotaDataAccess.js';
import { BOverlay } from 'bootstrap-vue-next';
import useVuelidate from '@vuelidate/core';
import { required, decimal, helpers, minValue, maxValue } from '@vuelidate/validators';
import GoBackButton from '@/components/GoBackButton.vue';

const route = useRoute();
const router = useRouter();

const formData = ref({
    "address": "",
    "phoneNumber": ""
});
const rules = computed(() => {
    return {
        phoneNumber: { 
            decimal: helpers.withMessage("Επιτρέπονται μόνο αριθμοί", decimal),
            minValue: helpers.withMessage("Ο αριθμός δεν είναι ρεαλιστικός", minValue(6900000000)),
            maxValue: helpers.withMessage("Ο αριθμός δεν είναι ρεαλιστικός", maxValue(6999999999)) 
        }
    }
});
const v$ = useVuelidate(rules, formData);

const forbidChars = () => {
    if (formData.value.phoneNumber != '') {
       formData.value.phoneNumber = formData.value.phoneNumber.replace(/\D/g, "");
    }
}

const farmerId = ref(null);
const url = computed(() => {
    return 'http://localhost:8080/services/profile/' + farmerId.value;
});
const method = ref("POST");
const auth = ref(true);

const { loading, error, performRequest } = remoteDataAccess(url, auth, method, formData);

const onEmptySubmit = ref(null);
const onFormSubmit = async() => {
    const result = await v$.value.$validate();
    if (!result) {
        return;
    }
    if (formData.value.address == '' && formData.value.phoneNumber == '') {
        onEmptySubmit.value = true;
        return;
    }
    onEmptySubmit.value = false;
    
    await performRequest();
    if (error.value == false) {
        router.push({name : 'farmer_profile'});
    }
};

onMounted(() => {
    farmerId.value = route.params.id;
});
</script>

<template>
    <main>
        <div class="container-fluid pt-3 bg-body-tertiary">
            <div class="row">
                <a class="col-auto">
                    <RouterLink :to=" { name: 'home' } "> Αρχική </RouterLink>
                </a>
                <p class="col-auto">></p>
                <a class="col-auto">
                    <RouterLink :to=" { name: 'farmer_profile' } "> Το Προφίλ μου </RouterLink>
                </a>
                <p class="col-auto">></p>
                <p class="col-auto">Επεξεργασία</p>
            </div>
        </div>
        <div class="container-fluid d-flex justify-content-center" >
            <div class="col-xl-5 mb-4">
                <b-overlay :show="loading">
                    <div class="card  mt-3">
                        <div class="card-body">
                            <div class="d-flex flex-row align-items-center mb-2">
                                <GoBackButton />
                                <h2 class="display-6"><b>Επεξεργασία προφίλ</b></h2>
                            </div>
                            <hr />
                            <p class="lead text-start mb-0"> Μπορείτε να επεξεργαστείτε τα στοιχεία σας παρακάτω. Τροποποιήστε όποια πεδία θέλετε και τα υπόλοιπα θα παραμείνουν ως έχουν μετά την υποβολή.</p>
                            <p class="lead mb-4 text-start"><b>*Προσοχή:</b> ύστερα από την υποβολή τα προηγούμενα πεδία δεν μπορούν να επαναφερθούν.</p>                            

                            <p v-if="error" class="alert-danger alert" role="alert">*Αποτυχία υποβολής, προσπαθήστε ξανά!</p>
                            <p v-if="onEmptySubmit" class="alert-warning alert" role="alert">*Η υποβολή δεν πραγματοποιήθηκε λόγω κενών πεδίων!</p>

                            <form>
                                <div class="col-5 mx-auto mb-3">
                                    <label for="address" class="col-form-label col-form-label-lg ">Διεύθυνση:</label>                                  
                                    <input 
                                        placeholder="π.χ. Ομήρου 9, Ταύρος"
                                        v-model="formData.address"
                                        type="text" 
                                        class="form-control form-control-lg" 
                                        id="address"
                                    />                        
                                </div>
                                <div class="col-5 mx-auto mb-5">
                                    <label for="phoneNumber" class="col-form-label col-form-label-lg">Κινητό τηλέφωνο:</label>
                                    <div class="col input-group">
                                        <span class="input-group-text">+30</span>
                                        <input 
                                            placeholder="π.χ. 6912345678"
                                            v-model="formData.phoneNumber"
                                            type="text" 
                                            class="form-control form-control-lg" 
                                            id="phoneNumber"
                                            maxlength="10" 
                                            :on="forbidChars()"
                                        />
                                    </div>
                                    <div v-for="error in v$.phoneNumber.$errors" :key="error.$uid" class="text-start error-msg" >{{ error.$message }}</div>
                                </div>                              

                                <div class="d-grid col-3 mx-auto mb-2">
                                    <button 
                                        @click="onFormSubmit"
                                        type="button" 
                                        class="btn btn-outline-blue btn-lg">
                                        Αποθήκευση αλλαγών
                                    </button>
                                </div>                                
                            </form>
                        </div>
                    </div>
                </b-overlay>
            </div>
        </div>
    </main>
</template>