<script setup>
import { onMounted, ref } from 'vue';
import { RouterLink } from 'vue-router';
import { remoteDataAccess } from '@/composables/remotaDataAccess.js';
import { useApplicationStore } from '@/stores/application.js';
import logo from '@/assets/images/edit-profile.png';
import GoBackButton from '@/components/GoBackButton.vue';
import { useRoute } from 'vue-router';

const route = useRoute();
const applicationStore = useApplicationStore();

const farmerId = ref(null);

const url = ref('http://localhost:8080/services/profile/' + applicationStore.userData.email);
const auth = ref(true);
const { data, loading, performRequest } = remoteDataAccess(url, auth);

onMounted(() => {
    performRequest();
    farmerId.value = route.params.id;
});
</script>

<template>
<main>
    <div class="container-fluid pt-3 bg-body-tertiary">
        <div class="row">
            <a class="col-auto">
                <RouterLink :to=" { name: 'home' } "> Αρχική </RouterLink>
            </a>
            <p class="col-auto">></p>
            <p class="col-auto">Το Προφίλ μου</p>
        </div>
    </div>

    <div class="container-fluid d-flex flex-column">
        <div class="row justify-content-center">
            <div class="col-xl-5 mb-4">
                <div class="card mt-3">
                    <div class="card-body text-center">
                        <div class="d-flex flex-row align-items-center mb-3">
                            <GoBackButton />
                            <h2 class="display-6"><b>Προσωπικά Στοιχεία</b></h2>
                        </div>
                        <hr />
                        <div v-if="loading" class="row">
                            <div class="spinner-border mx-auto" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                    
                        <template v-if="data">                        
                            <div class="row justify-content-start lead">
                                <div class="col-4 text-end">
                                    <p><i>Όνομα</i></p>
                                </div>
                                <div class="col-6">
                                    <p><b>{{ data.firstName }}</b></p>
                                </div>
                            </div>
                            <hr class="mt-0"/>
                            <div class="row justify-content-start lead">
                                <div class="col-4 text-end">
                                    <p><i>Επώνυμο</i></p>
                                </div>
                                <div class="col-6">
                                    <p><b>{{ data.lastName }}</b></p>
                                </div>
                            </div>
                            <hr class="mt-0"/>
                            <div class="row justify-content-start lead">
                                <div class="col-4 text-end">
                                    <p><i>Α.Φ.Μ.</i></p>
                                </div>
                                <div class="col-6">
                                    <p><b>{{ data.afm }}</b></p>
                                </div>
                            </div>
                            <hr class="mt-0"/>
                            <div class="row justify-content-start lead">
                                <div class="col-4 text-end">
                                    <p><i>Διεύθυνση</i></p>
                                </div>
                                <div class="col-6">
                                    <p><b>{{ data.address }}</b></p>
                                </div>
                            </div>
                            <hr class="mt-0"/>
                            <div class="row justify-content-start lead">
                                <div class="col-4 text-end">
                                <p><i>Κινητό τηλέφωνο</i></p>
                                </div>
                                <div class="col-6">
                                <p><b>{{ data.phoneNumber }}</b></p>
                                </div>
                            </div>
                            <hr class="mt-0 mb-4"/>

                            <div class="d-grid col-3 mx-auto mb-2">
                                <RouterLink :to="{ name: 'edit_profile', params: { id: data.id } }" class="btn btn-lg btn-blue">
                                    <img :src="logo"/> Επεξεργασία</RouterLink>
                            </div>
                        </template>
                    </div>
                </div>
            </div>
        </div>

        <div class="container mb-4 line-breaker"></div>

        <div class="row justify-content-center">
            <div class="col-xl-5 mb-4">
                <div class="card text-left">
                    <div class="card-body">
                        <h2 class="display-6 mb-4"><b>Αιτήσεις</b></h2>
                        <hr />
                        <p class="lead mb-5">Έχετε τη δυνατότητα να δείτε όλες τις αιτήσεις που πιθανών έχετε υποβάλει οργανωμένες ανάλογα με το είδος τους και στοιχεία σχετικά με την κατάσταση τους.
                        Παρέχεται η δυνατότητα να τροποποιήσετε τα στοιχεία μίας υποβληθείσας αίτησης με την <b>προϋπόθεση πως αυτή είναι ακόμη στο αρχικό στάδιο</b>.</p>
                        <div class="d-grid col-3 mx-auto mb-2">
                            <RouterLink :to="{ name: 'my_submissions', params: { id: farmerId } }" class="btn btn-lg btn-blue">Οι αιτήσεις μου</RouterLink>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</template>